.countries {
  @include flexCenter($justify: space-between);
  flex-wrap: wrap;
}

.country {
  width: 22.5rem;
  height: 30rem;
  border-radius: 0.7rem;
  margin: 2rem;
  background-color: $color-dt-text-lt-elements;
  cursor: pointer;

  &__img {
    width: 22.5rem;
    height: 12.5rem;
    object-fit: cover;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }

  &__country {
    padding: 2rem 1.5rem;
  }
}

.country-detail {
  margin: 5rem auto;

  @media only screen and (min-width: $bp-lg) {
      display: grid;
      grid-template-columns: repeat(2, 50rem);
      grid-template-rows: 40rem;
      gap: 5rem;
  }

  &__img {
    width: 100%;
    margin-right: 2rem;

    @media only screen and (min-width: $bp-lg) {
    width: 100%;

    }
  }

  &__borders {
    list-style: none;
  }

  &__details {
    @media only screen and (min-width: $bp-lg) {
      display: grid;
      grid-template-columns: repeat(2, 30rem);
      gap: 2.5rem;
    }
  }
}

.border {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
  background-color: $color-dt-text-lt-elements;
  box-shadow: 0 0 0.5rem $color-lt-input;
  cursor: pointer;

}

.container--dark {
  .country {
    background-color: $color-dt-elements;
  }

  .border {
    background-color: $color-dt-elements;
    box-shadow: 0 0 0.5rem $color-lt-text;
  }
}