* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px

  @include responsive(small) {
    font-size: 53.125%; // 1rem = 8.5px
  }

  @include responsive(x-large) {
    font-size: 62.5%; // 1rem = 10px
  }
}

body {
  box-sizing: border-box;

  height: 100vh;
  background-color: $color-primary-bg;
  background-image: url(../img/bg-intro-mobile.png);

  @include responsive(large) {
    background-image: url(../img/bg-intro-desktop.png);
  }
}

.container {
  @include flexCenter($direction: column);
}
