.container {
  font-family: $font-primary;
  color: $color-primary-text;
}

.heading-primary {
  font-size: $font-size-large;

  @include responsive(x-large) {
    font-size: $font-size-x-large;
  }
}

.heading-secondary {
  font-size: $font-size-medium;
  font-weight: 400;
}

.paragraph {
  font-size: $font-size-medium;
  line-height: 1.8;
}

.form {
  &__input {
    font-family: inherit;
    font-size: $font-size-medium;
    font-weight: 500;
  }
}

.btn {
  font-family: inherit;
  font-size: $font-size-medium;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: inherit;
}

.terms-conditions {
  color: $color-secondary-text;
  font-size: $font-size-small;
  line-height: 2;

  &__link {
    &:link,
    &:visited {
      color: $color-primary-bg;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-secondary-bg;
    }
  }
}

.footer {
  &__link {
    &:link,
    &:visited {
      font-size: $font-size-small;
      font-weight: 700;
      color: darken($color-primary-bg, 50%);
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: darken($color-primary-shadow, 100%);
    }
  }
}

.error {
  font-size: $font-size-small;
  font-style: italic;
  color: darken($color-primary-bg, 25%);
}
