.container {
  font-family: $font-primary;
}

.footer {
  font-size: $font-primary;
  color: $color-primary-text;

  &__link {
    &:link,
    &:visited {
      color: darken($color-primary-bg, 50%);

      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: darken($color-primary-shadow, 100%);
    }
  }
}
