.u-center-text {
  text-align: center;
}

.u-right-text {
  text-align: right;
}

.u-margin-top-small {
  margin-top: 0.78em;
}

.u-margin-top-big {
  margin-top: 4em;
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-hidden {
  display: none;
}
