body {
  font-family: $font-primary;
  color: $color-primary;
  text-align: center;
  line-height: 1.7;
}

.card {
  &__profile {
    &-name {
      font-size: $font-size-large;
    }

    &-age {
      font-size: $font-size-large;
      font-weight: $font-weight-light;
      color: $color-secondary;
    }

    &-location {
      font-size: $font-size-medium;
      color: $color-secondary;
    }
  }

  &__social {
    &-data {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }

    &-item {
      font-size: $font-size-small;
      color: $color-secondary;
      letter-spacing: 0.1rem;
    }
  }
}

.footer {
  font-size: $font-size-small;
  color: lighten($color-tertiary, 50%);
  letter-spacing: 0.1rem;

  &__link {
    &:link,
    &:visited {
      font-weight: $font-weight-bold;
      color: $color-primary;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: lighten($color-background, 30%);
    }
  }
}
