.btn {
  border: none;
  padding: 1rem;
  border-radius: 100%;
  background-color: lighten($color-secondary-bg, 20%);
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: all 0.1s;

  &:focus,
  &:hover {
    outline: 0.1rem dotted $color-primary;
  }

  &:active {
    transform: translateY(0.3rem);
  }

  &--open {
    background-color: $color-secondary;
  }
}

.btn .share--open {
  fill: $color-primary-bg;
}
