<div class="card" *ngIf="user">
  <div class="card-header">
    <img class="user-avatar" src="{{ user.avatar_url }}" alt="User avatar">

    <div class="user-data">
      <div class="user-wrap">
        <h2 class="user-name" [class.user-info-unavailable]="!user.name">
          <span *ngIf="user.name; else userNameUnavailable">{{ user.name }}</span>
          <ng-template #userNameUnavailable>Not Available</ng-template>
        </h2>
        <p class="user-login">{{ user.login }}</p>
      </div>
      <p class="user-joined-date">{{ user.created_at | date: "dd MMM yyyy"}}</p>
    </div>
  </div>

  <div class="card-body">
    <p class="user-bio">
      <span *ngIf="user.bio; else userBioUnavailable">{{ user.bio | truncate: 100 }}</span>
      <ng-template #userBioUnavailable>Not Available</ng-template>
    </p>
    <div class="user-stats">
      <div class="user-stat">
        <h3 class="user-stats-heading">Repos</h3>
        <p class="user-stats-value" [class.user-info-unavailable]="!user.public_repos">
          <span *ngIf="user.public_repos >= 0; else userRepoUnavailable">{{ user.public_repos }}</span>
          <ng-template #userRepoUnavailable>Not Available</ng-template>
        </p>
      </div>
      <div class="user-stat">
        <h3 class="user-stats-heading">Followers</h3>
        <p class="user-stats-value" [class.user-info-unavailable]="!user.followers">
          <span *ngIf="user.followers >= 0; else userFollowersUnavailable">{{ user.followers }}</span>
          <ng-template #userFollowersUnavailable>Not Available</ng-template>
        </p>
      </div>
      <div class="user-stat">
        <h3 class="user-stats-heading">Following</h3>
        <p class="user-stats-value" [class.user-info-unavailable]="!user.following">
          <span *ngIf="user.following >= 0; else userFollowingUnavailable">{{ user.following }}</span>
          <ng-template #userFollowingUnavailable>Not Available</ng-template>
        </p>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <a class="user-link user-link-location" [class.user-info-unavailable]="!user.location" href="https://www.google.com/maps/search/?api=1&query={{ user.location }}" target="_blank" rel="noopener">
      <span *ngIf="user.location; else userLocationUnavailable">{{ user.location | truncate: 15 }}</span>
      <ng-template #userLocationUnavailable>Not Available</ng-template>
    </a>
    <a class="user-link user-link-blog" [class.user-info-unavailable]="!user.blog" href="{{ user.blog }}" target="_blank" rel="noopener">
      <span *ngIf="user.company; else userBlogUnavailable">{{ user.blog | truncate: 15 }}</span>
      <ng-template #userBlogUnavailable>Not Available</ng-template>
    </a>
    <a class="user-link user-link-twitter" [class.user-info-unavailable]="!user.twitter_username" href="https://twitter.com/{{ user.twitter_username }}" target="_blank" rel="noopener">
      <span *ngIf="user.company; else userTwitterUnavailable">{{ user.blog | truncate: 15 }}</span>
      <ng-template #userTwitterUnavailable>Not Available</ng-template>
    </a>
    <a class="user-link user-link-company" [class.user-info-unavailable]="!user.blog" href="https://www.google.com/search?q={{ user.company }}" target="_blank" rel="noopener">
      <span *ngIf="user.company; else userCompanyUnavailable">{{ user.company | truncate: 15 }}</span>
      <ng-template #userCompanyUnavailable>Not Available</ng-template>
    </a>
  </div>
</div>
