.main {
  text-align: center;

  @media only screen and (min-width: $bp-lg) {
    text-align: left;
  }
}

.section-features {
  background-color: $color-secondary-bg;
  padding: 5rem 3rem;
  z-index: -1;

  @media only screen and (min-width: $bp-xs) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media only screen and (min-width: $bp-sm) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media only screen and (min-width: $bp-md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (min-width: $bp-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}

.section-articles {
  background-color: $color-primary-bg;
  padding: 5rem 3rem;

  @media only screen and (min-width: $bp-xs) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media only screen and (min-width: $bp-sm) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media only screen and (min-width: $bp-md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media only screen and (min-width: $bp-lg) {
    padding-left: 0;
    padding-right: 0;
  }
}
