.main {
  text-align: center;
  position: relative;
}

.section-about {
  @media only screen and(min-width: $bp-lg) {
    display: grid;
    grid-template-rows: 40rem;
    grid-template-columns: repeat(2, 1fr);

    // max-height: 80rem;
    text-align: left;
  }

  &__image {
    background-image: url(../img/bg-intro-mobile.svg);
    background-size: cover;
    background-position: 50% -4rem;
    background-repeat: no-repeat;
    overflow: hidden;

    @media only screen and (min-width: $bp-md) {
      background-position: 50% -10rem;
    }


    @media only screen and (min-width: $bp-lg) {
      order: 1;

      background-image: url(../img/bg-intro-desktop.svg);
      background-size: 120%;
      background-position: 3rem -12rem;
      background-repeat: no-repeat;
    }

    @media only screen and (min-width: $bp-xl) {
      max-width: 100rem;
      margin-top: 0rem;
      margin-left: 5rem;
    }

    .image {
      width: 95%;
      margin-top: -10rem;

      @media only screen and (min-width: $bp-xs) {
        width: 90%;
      }

      @media only screen and (min-width: $bp-md) {
        width: 85%;
        margin-top: -15rem;
      }

      @media only screen and (min-width: $bp-lg) {
        margin-top: -10rem;
        margin-left: 5rem;
      }

      @media only screen and (min-width: $bp-xl) {
        width: 90%;
        margin-top: -20rem;
        margin-left: 12rem;
      }
    }
  }

  &__information {
    position: relative;
    z-index: 0;
    padding: 7rem 3.5rem;

    @media only screen and (min-width: $bp-xs) {
      padding: 4rem 4rem 7rem;
    }

    @media only screen and (min-width: $bp-xs) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media only screen and (min-width: $bp-md) {
      width: 50rem;
      margin: auto;
    }
  }
}

.section-features {
  z-index: -1;

  padding: 6rem 4.2rem;
  background-color: $color-secondary-bg;

  @media only screen and (min-width: $bp-xs) {
    padding: 6rem 4.2rem;
  }

  @media only screen and (min-width: $bp-lg) {
    margin-top: -6rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.section-articles {
  padding: 6rem 4.2rem;

  background-color: $color-primary-bg;

  @media only screen and (min-width: $bp-xs) {
    padding: 6rem 4.2rem;
  }

  @media only screen and (min-width: $bp-lg) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}