.main {
  @include device(tablet) {
    position: relative;
    max-width: 63.5rem;
    min-height: 50.9rem;
    margin-top: 15.2rem;
    padding: 9.3rem 0;
    background-color: $color-blue-4;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  @include device(desktop) {
    margin: 0;
    width: 72.3rem;
    max-width: 72.3rem;
    padding: 8.8rem 0 9.3rem;
    margin-left: 15.9rem;
    animation: moveInLeft .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.brands {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.3rem;
  margin-bottom: 4.8rem;

  &-spotify {
    width: 5.6rem;
    height: 1.7rem;
  }

  &-apple-podcast {
    width: 4.5rem;
    height: 1.7rem;
  }
  &-google-podcasts {
    width: 7.3rem;
    height: 1.1rem;
  }
  &-pocket-casts {
    width: 7.7rem;
    height: 1.5rem;
  }

  @include device(phone) {
    width: 32.5rem;
  }

  @include device(tablet) {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 53.6rem;

    &-spotify {
      width: 9.6rem;
      height: 2.9rem;
    }

    &-apple-podcast {
      width: 7.8rem;
      height: 2.9rem;
    }
    &-google-podcasts {
      width: 12.5rem;
      height: 1.8rem;
    }
    &-pocket-casts {
      width: 12.9rem;
      height: 2.6rem;
    }
  }
}
