* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  height: 100vh;
  background-color: lighten($color-secondary-bg, 15%);

  @include flexCenter($direction: column);
}
