* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 61.875em) {
  html {
    font-size: 68.75%;
  }
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.heading-primary {
  color: #fff;
  font-weight: 500;
}

.heading-secondary {
  font-size: 0.9rem;
  color: #969696;
}

.form__input {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: inherit;
  color: #2b2b2b;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input::-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input::placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-box__info {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer {
  font-size: 0.9rem;
}

.footer__link:link, .footer__link:visited {
  color: #ff00dd;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: #0026ff;
  font-weight: 700;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem;
}

.btn {
  cursor: pointer;
  padding: 1.1rem 1.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--black {
  background-color: #2b2b2b;
}

.btn:focus, .btn:hover {
  background-color: #454545;
}

.card {
  position: absolute;
  top: 24rem;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25rem;
  width: 35rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

@media only screen and (min-width: 25em) {
  .card {
    width: 36.5rem;
  }
}

@media only screen and (min-width: 48em) {
  .card {
    top: 17rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10rem;
    width: 72rem;
    padding: 2rem 3rem;
    text-align: left;
  }
}

@media only screen and (min-width: 61.875em) {
  .card {
    top: 16rem;
    max-width: 100vw;
  }
}

.card-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0rem;
          flex: 1 1 0rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.card-box__info {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

@media only screen and (min-width: 48em) {
  .card-box:not(:first-child) {
    border-left: 1px solid #969696;
    padding-left: 2rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form__input {
  cursor: pointer;
  width: 30rem;
  padding: 1.1rem;
  padding: 0.7rem 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline: none;
}

@media only screen and (min-width: 25em) {
  .form__input {
    width: 32.5rem;
  }
}

@media only screen and (min-width: 48em) {
  .form__input {
    width: 50rem;
  }
}

@media only screen and (min-width: 61.875em) {
  .form__input {
    width: 43rem;
  }
}

.footer {
  padding: 1rem 0;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  height: 28vh;
  position: relative;
  background-image: url(../img/pattern-bg.png);
  background-size: cover;
  padding-top: 2rem;
}

@media only screen and (min-width: 112.5em) {
  .header {
    height: 24vh;
  }
}

#mapid {
  height: 67vh;
  z-index: 0;
}

@media only screen and (min-width: 112.5em) {
  #mapid {
    height: 71vh;
  }
}
