* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 25em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 43.75em) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 61.875em) {
  html {
    font-size: 68.75%;
  }
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content (minmax(7vh, auto))[2] auto 1rem;
      grid-template-rows: -webkit-min-content repeat(2, minmax(7vh, auto)) auto 1rem;
      grid-template-rows: min-content repeat(2, minmax(7vh, auto)) auto 1rem;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

.container {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.heading-primary {
  color: #fff;
  font-weight: 500;
}

.heading-secondary {
  font-size: 0.9rem;
  color: #969696;
}

.form__input {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: inherit;
  color: #2b2b2b;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input::-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.form__input::placeholder {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-box__info {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer {
  font-size: 0.9rem;
}

.footer__link:link, .footer__link:visited {
  color: #ff00dd;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: #0026ff;
  font-weight: 700;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem;
}

.btn {
  cursor: pointer;
  padding: 1.1rem 1.5rem;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--black {
  background-color: #2b2b2b;
}

.btn:focus, .btn:hover {
  background-color: #454545;
}

.card {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 14;
  grid-column: 2 / 16;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
}

@media only screen and (min-width: 25em) {
  .card {
    -ms-grid-column: 3;
    -ms-grid-column-span: 12;
    grid-column: 3 / 15;
  }
}

@media only screen and (min-width: 43.75em) {
  .card {
    -ms-grid-column: 2;
    -ms-grid-column-span: 14;
    grid-column: 2 / 16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 3rem;
    text-align: left;
  }
}

@media only screen and (min-width: 61.875em) {
  .card {
    -ms-grid-column: 4;
    -ms-grid-column-span: 10;
    grid-column: 4/ 14;
  }
}

.card-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0rem;
          flex: 1 1 0rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 0.5rem;
}

.card-box__info {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

@media only screen and (min-width: 43.75em) {
  .card-box:not(:first-child) {
    border-left: 1px solid #969696;
    padding-left: 2rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form__input {
  cursor: pointer;
  width: 30rem;
  padding: 1.1rem;
  padding: 0.7rem 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline: none;
}

@media only screen and (min-width: 25em) {
  .form__input {
    width: 30rem;
  }
}

@media only screen and (min-width: 43.75em) {
  .form__input {
    width: 50rem;
  }
}

@media only screen and (min-width: 61.875em) {
  .form__input {
    width: 43rem;
  }
}

.footer {
  grid-row: -1;
  grid-column: 1 / -1;
  padding: 1rem 0;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  grid-column: 1 / -1;
  z-index: 50;
  height: 22vh;
  background-image: url(../img/pattern-bg.png);
  background-size: cover;
  padding-top: 2rem;
}

@media only screen and (min-width: 43.75em) {
  .header {
    height: 23vh;
  }
}

@media only screen and (min-width: 61.875em) {
  .header {
    height: 24vh;
  }
}

@media only screen and (min-width: 75em) {
  .header {
    height: 25vh;
  }
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  z-index: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

#map {
  height: 80vh;
}

@media only screen and (min-width: 25em) {
  #map {
    height: 78vh;
  }
}

@media only screen and (min-width: 43.75em) {
  #map {
    height: 76vh;
  }
}

@media only screen and (min-width: 75em) {
  #map {
    height: 74vh;
  }
}
