<section class="pricing">
  <h2 class="pricing-h2">Our pricing plans</h2>

  <p class="pricing-p">
    We only make money when our creators make money. Our plans are always affordable, and it's completely free to get started.
  </p>

  <div class="pricing-cards">
    <div class="pricing-card pricing-card--light">
      <h3 class="pricing-h3">Dip your toe</h3>
      <p class="pricing-p pricing-p--card pricing-p--light">
        Just getting started? No problem at all! Our free plan will take you a long way.
      </p>

      <p class="pricing-h3 pricing-h3--big">
        Free
      </p>

      <ul class="pricing-list">
        <li class="pricing-item pricing-item--light">Unlimited products</li>
        <li class="pricing-item pricing-item--light">Basic analytics</li>
        <li class="pricing-item pricing-item--light">Limited marketplace exposure</li>
        <li class="pricing-item pricing-item--light">10% fee per transaction</li>
      </ul>
    </div>

    <div class="pricing-card pricing-card--dark">
      <h3 class="pricing-h3">Dive right in</h3>
      <p class="pricing-p pricing-p--card pricing-p--dark">
        Ready for the big time? Our paid plan will help you take your business to the next level.
      </p>

      <p class="pricing-h3 pricing-h3--big">
        $25.00 <span class="pricing-period">/ month</span>
      </p>

      <ul class="pricing-list">
        <li class="pricing-item pricing-item--dark">Custom domain</li>
        <li class="pricing-item pricing-item--dark">Advanced analytics and reports</li>
        <li class="pricing-item pricing-item--dark">High marketplace visibility</li>
        <li class="pricing-item pricing-item--dark">5% fee per transaction</li>
      </ul>
    </div>
  </div>
</section>
