/* CUSTOM PROPERTIES */
:root {
  --bg-color-primary: rgb(255, 255, 255);
  --bg-color-secondary: rgb(214, 226, 240);
  --text-primary: rgb(31, 50, 81);
  --text-secondary: rgb(123, 135, 157);
  --attribution-btn: rgb(44, 125, 250);
  --shadow-box: rgba(123, 135, 157, 0.15);
}
/* RESET */
*,
*::before,
*::after  {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.2;
}
/* STYLES */
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--bg-color-secondary);
  font-family: 'Outfit', sans-serif;
  text-align: center;
}
.card {
  position: relative;
  width: 32rem;
  padding: 1.5rem 1rem 4rem;
  border-radius: 2rem;
  background-color: var(--bg-color-primary);
  box-shadow: 0 1.2rem 1.5rem 0.5rem var(--shadow-box);
  transition: all 0.2s;
  position: relative;
  animation: fadeIn 2.5s 1;
}
.card::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--shadow-box);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  animation: fadeInOut 2.5s 1;
}
.card-qr-image {
  width: 29rem;
  border-radius: 1rem;
}
.card-info {
  padding: 0 1.5rem;
}
.heading-primary {
  margin: 2rem 0 1.5rem;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
  color: var(--text-primary);
}
.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1.3;
  color: var(--text-secondary);
}
/* MEDIA QUERY */
@media only screen and (orientation: landscape) and (hover: none) {
  body {
    min-height: 100vw;
    height: 100vw;
  }
}
/* ANIMATIONS */
@keyframes fadeIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
