<div class="wrapper">
  <app-header></app-header>

  <main class="main">
    <h1 class="heading heading-primary">
      Publish your podcasts <span class="heading--white">everywhere.</span>
    </h1>

    <p class="paragraph">
      Upload your audio to Pod with a single click. We'll then distribute your podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!
    </p>

    <app-brand></app-brand>

    <app-authentication></app-authentication>
  </main>
</div>

<app-attribution></app-attribution>
