// COLORS
$color-primary: #2d3248;
$color-secondary: #6a6f81;
$color-tertiary: #969696;
$color-background: #19a2ae;

// FONT
$font-primary: 'Kumbh Sans', sans-serif;

$font-weight-light: 400;
$font-weight-bold: 700;

$font-size-small: 1rem;
$font-size-medium: 1.3rem;
$font-size-large: 1.8rem;

// BREAKPOINTS
$bp-lg: 61.875em; // 990px
