/* CUSTOM PROPERTIES */
:root {
  --text-dark: hsl(233, 54%, 16%);
  --text-light: hsl(0, 0%, 100%);
  --text-neutral: hsl(232, 10%, 56%);
  --text-highlight: hsl(341, 92%, 62%);
  --text-highlight-hover: hsl(341, 100%, 83%);

  --hover-dark: hsl(234, 25%, 52%);
  --box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);

  --bg-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  --link-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  --link-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  --card-gradient: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --card-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

/* STYLES */
body {
  position: relative;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: var(--bg-gradient);
}

.heading-primary {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.2rem;
  color: var(--text-light);
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
  color: var(--text-dark);
}

.heading-primary strong,
.heading-secondary strong,
.heading-tertiary strong {
  font-weight: 800;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--text-neutral);
}

.header,
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2vw;
  max-width: 111rem;
}

.header {
  padding: 1.6rem 0 3.8rem;
}

.footer {
  padding: 3.6rem 0;
  background-color: var(--text-dark);
}

.header-logo,
.footer-logo {
  height: 3.5rem;
  width: 8.9rem;
  object-fit: contain;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

.link.link-subscribe--header:link,
.link.link-subscribe--footer:link,
.link.link-subscribe--header:visited,
.link.link-subscribe--footer:visited {
  color: var(--text-light);
  padding: 1rem 2.45rem;
  border-radius: 2.8rem;
}

.link.link-subscribe--header:link,
.link.link-subscribe--header:visited {
  background-color: var(--text-dark);
}

.link.link-subscribe--header:hover,
.link.link-subscribe--header:focus,
.link.link-subscribe--header:active {
  background-color: var(--hover-dark);
}

.link.link-subscribe--footer:link,
.link.link-subscribe--footer:visited {
  background-image: var(--link-gradient);
}

.link.link-subscribe--footer:hover,
.link.link-subscribe--footer:focus,
.link.link-subscribe--footer:active {
  background-image: var(--link-gradient-hover);
}

.hero-section {
  display: flex;
  flex-direction: column;
  row-gap: 4.6rem;
  margin: 0 2vw;
  max-width: 111rem;
}

.hero-section--left {
  max-width: 45.7rem;
}

.hero-section .paragraph {
  margin: 2.6rem 0 2.4rem;
}

.link.link-subscribe--hero:link,
.link.link-subscribe--hero:visited {
  line-height: 2.6rem;
  color: var(--text-light);
  background-image: var(--card-gradient);
  padding: 1.5rem 2.38em;
  border-radius: 3.1rem;
}

.link.link-subscribe--hero:hover,
.link.link-subscribe--hero:focus,
.link.link-subscribe--hero:active {
  background-image: var(--card-gradient-hover);
}

.hero-section--right {
  width: 100%;
  height: 30.1rem;
  margin: 0 auto;
  background-image: url(../images/image-hero-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32.7rem 30.1rem;
}

.courses-section {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin: 0 2vw;
  max-width: 111rem;
  padding-bottom: 8rem;
}

.main-card {
  max-width: 33.9rem;
  padding: 2.5rem 2.8rem;
  background-image: var(--card-gradient);
  border-radius: 1rem;
  transition: all 0.2s linear;
}

.course-card:hover {
  transform: scale(1.01);
}

.course-card {
  position: relative;
  padding: 5.6rem 2.8rem 3.2rem;
  background-color: var(--text-light);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.course-card .paragraph {
  margin: 1.6rem 0 2.4rem;
}

.course-card::before {
  content: '';
  position: absolute;
  top: -2.4rem;
  left: 2.8rem;
  width: 5.6rem;
  height: 5.6rem;
  background-repeat: no-repeat;
}

.course-card.course-card--animation::before {
  background-image: url(../images/icon-animation.svg);
}

.course-card.course-card--design::before {
  background-image: url(../images/icon-design.svg);
}

.course-card.course-card--photography::before {
  background-image: url(../images/icon-photography.svg);
}

.course-card.course-card--crypto::before {
  background-image: url(../images/icon-crypto.svg);
}

.course-card.course-card--business::before {
  background-image: url(../images/icon-business.svg);
}

.link.link-subscribe--course:link,
.link.link-subscribe--course:visited {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--text-highlight);
}

.link.link-subscribe--course:hover,
.link.link-subscribe--course:focus,
.link.link-subscribe--course:active {
  color: var(--text-highlight-hover);
}

/* MEDIA QUERY */
@media screen and (min-width: 600px) {
  body {
    background-image: url(../images/image-hero-tablet@2x.webp), var(--bg-gradient);
    background-repeat: no-repeat;
    background-position: left 48vw top 5vw, center;
    background-size: 57rem 57rem, cover;
  }

  .header,
  .footer-container {
    margin: 0 5.1vw;
  }

  .hero-section {
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    margin: 0 5.1vw;
  }

  .hero-section .paragraph {
    margin: 2.5rem 0 2.4rem;
  }

  .hero-section--right {
    position: relative;
    height: 52.7rem;
    background-image: none;
  }

  .courses-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 5.6rem 1rem;
    margin: 0 5.1vw;
    padding-bottom: 8.6rem;
  }

  .main-card {
    padding: 5.6rem 3.2rem;
    max-width: unset;
  }

  .course-card {
    padding: 5.6rem 3.2rem 3.2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-position: left 48vw top 3.5vw;
    background-size: 64rem 64rem;
  }

  .header {
    padding: 2.4rem 0 3.6rem;
  }

  .main-card {
    padding: 5.6rem 3.2rem;
  }

  .course-card {
    padding: 5.6rem 3.2rem 3.2rem;
  }
}

@media screen and (min-width: 1140px) {
  body {
    background-image: url(../images/image-hero-desktop@2x.webp), var(--bg-gradient);
    background-repeat: no-repeat;
    background-position: left 40vw top, center;
    background-size: 99rem 93rem, cover;
  }

  .heading-primary {
    font-size: 5.6rem;
    line-height: 7.1rem;
  }

  .heading-secondary {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
    line-height: 3em;
  }

  .paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .header {
    padding: 2.9em 0 9.3rem;
  }

  .header-logo,
  .footer-logo {
    height: 4.5rem;
    width: 11.4rem;
    object-fit: contain;
  }

  .link:link,
  .link:visited {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .link.link-subscribe--header:link,
  .link.link-subscribe--footer:link,
  .link.link-subscribe--header:visited,
  .link.link-subscribe--footer:visited {
    padding: 1.4rem 3.8rem;
  }

  .hero-section {
    padding-bottom: 25rem;
  }

  .hero-section .paragraph {
    margin: 2.9rem 0 4rem;
  }

  .link.link-subscribe--hero:link,
  .link.link-subscribe--hero:visited {
    padding: 1.85rem 1.8em;
  }

  .courses-section {
    grid-template-columns: repeat(3, minmax(30rem, 35rem));
    padding-bottom: 14rem;
  }

  .course-card .paragraph {
    margin: 2.4rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .courses-section {
    gap: 8rem 3rem;
  }

  .header,
  .footer-container {
    margin: 0 auto;
  }

  .hero-section {
    margin: 0 auto;
  }

  .courses-section {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1210px) {
  body {
    background-position: left 43vw top, center;
    background-size: 99rem 93rem, cover;
  }
}
