// COLORS
:root {
  --color-main-bg-dark: 220, 40%, 13%;
  --color-secondary-bg-dark: 222, 41%, 20%;
  --color-main-txt-dark: 0, 0%, 100%;
  --color-unavailable-txt-dark: 223, 10%, 60%;
  --color-txt-hover-dark: 222, 44%, 70%;

  --color-main-bg-light: 227, 100%, 98%;
  --color-main-txt-light: 220, 18%, 16%;
  --color-unavailable-txt-light: 216, 28%, 72%;
  --color-btn-theme-light: 217, 35%, 45%;
  --color-card-header-light: 217, 21%, 21%;

  --color-neutral-btn: 212, 100%, 50%;
  --color-neutral-btn-hover: 212, 100%, 69%;
  --color-error: 0, 91%, 62%;

  --box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.199);
}

// BREAKPOINTS
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px

$breakpoints: (
  medium: $bp-medium,
  large: $bp-large
);

// FONTS
$font-family: 'Space Mono', monospace;

$fs-heading-primary: (
  null: ($font-family, 2.6rem, 700, 3.9rem, 0),
);

$fs-form-input: (
  null: ($font-family, 1.3rem, 400, 2.5rem, -.04rem),
  medium: ($font-family, 1.8rem, 400, 2.5rem, 0),
);

$fs-form-error: (
  null: ($font-family, 1.1rem, 700, 1.5rem, 0),
  medium: ($font-family, 1.5rem, 700, 2.2rem, 0),
);

$fs-form-btn: (
  null: ($font-family, 1.4rem, 700, 2.1rem, 0),
  medium: ($font-family, 1.6rem, 400, 2.4rem, 0),
);

$fs-btn-theme: (
  null: ($font-family, 1.3rem, 700, 1.9rem, .25rem),
);

$fs-user-name: (
  null: ($font-family, 1.6rem, 700, 2.4rem, 0),
  medium: ($font-family, 2.6rem, 700, 3.9rem, 0),
);

$fs-user-login: (
  null: ($font-family, 1.3rem, 400, 1.9rem, 0),
  medium: ($font-family, 1.6rem, 400, 2.4rem, 0),
);

$fs-user-joined-date: (
  null: ($font-family, 1.3rem, 400, 1.9rem, 0),
  medium: ($font-family, 1.5rem, 400, 2.2rem, 0),
  large: ($font-family, 1.5rem, 400, 4rem, 0),
);

$fs-user-bio: (
  null: ($font-family, 1.3rem, 400, 2.5rem, 0),
  medium: ($font-family, 1.5rem, 400, 2.5rem, 0),
);

$fs-user-stats-heading: (
  null: ($font-family, 1.1rem, 400, 1.6rem, 0),
  medium: ($font-family, 1.3rem, 400, 1.9rem, 0),
);

$fs-user-stats-value: (
  null: ($font-family, 1.6rem, 700, 2.4rem, 0),
  medium: ($font-family, 2.2rem, 700, 3.3rem, 0),
);

$fs-user-link: (
  null: ($font-family, 1.3rem, 400, 1.9rem, 0),
  medium: ($font-family, 1.5rem, 400, 2.2rem, 0),
);