.btn {
  padding: 1.2rem 8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: $color-secondary;
  box-shadow: 0 0 1rem rgba(darken($color-primary, 50%), 0.5);
  color: $color-bg-primary;

  cursor: pointer;
  outline: none;
  transition: all 0.1s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
