.btn {
  border: none;
  padding: 1rem;
  border-radius: 100%;
  background-color: lighten($color-secondary-bg, 20%);
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;

  &:focus,
  &:hover {
    outline: none;
  }

  &:active {
    outline: none;
    transform: translateY(0.3rem);
  }

  &--open {
    background-color: $color-secondary;
  }
}

.share--open {
  fill: $color-primary-bg;
}
