// COLORS
$color-primary: #54E6AF;
$color-secondary: #FFFFFF;

$color-hover:#B3FFE2;
$color-error:#FB3E3E;

$color-blue-1: #C2CBE5;
$color-blue-2: #5A668A;
$color-blue-3: #2C344B;
$color-blue-4: #121725;

$color-bg: rgba(18, 23, 37, 0.9);

// FONT WEIGH
$font-weight-light: 400;
$font-weight-bold: 700;

// BOX-SHADOWS
$default-box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
