.header {
  position: relative;
  z-index: -1;

  height: 15vh;
  background-color: $color-primary;
  background-image: url(../img/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (min-width: $bp-md) {
    background-image: url(../img/bg-header-desktop.svg);
  }
}
