.main {
  width: 100%;
  padding: 4rem 3rem;
}

.block {
  &__add-todo {
    background-color: $color-lt-v-light-grayish-blue;
    border-radius: 0.45rem;

    &__input {
      width: 90%;
      padding: 1.6rem;
      background-color: transparent;
      border: none;
    }
  }
}
