.main {
  width: 100%;
  background-color: red;
}

.block {
  &__add-todo {
    // margin-top: 2.5rem;
    padding: 1.5rem 2rem;
    border-radius: 0.45rem;
    background-color: var(--color-secondary-bg);

    @include flexCenter;

    &__input {
      width: 100%;
      margin-left: 2.5rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      // transition: all 0.2s linear;
    }
  }

  //   &__item-leftCompleted {
  //     margin-top: 2.5rem;
  //     padding: 1.5rem 2rem;
  //     border-radius: 0.45rem;
  //     background-color: $color-secondary-bg;

  //     @include flexCenter($justify: space-between);

  //     @media only screen and (min-width: $bp-lg) {
  //       margin-top: 0;
  //       border-top-left-radius: 0;
  //       border-top-right-radius: 0;
  //       border-top: 0.1rem solid $color-border;
  //     }
  // }

  //   &__filter-todo {
  //     margin-top: 2.5rem;
  //     padding: 1.5rem 5rem;
  //     border-radius: 0.45rem;
  //     background-color: $color-secondary-bg;

  //     @include flexCenter($justify: space-around);
  //   }

  //   &__dragDrop {
  //     opacity: 0;

  //     @media only screen and (min-width: $bp-lg) {
  //       opacity: 1;
  //     }
  //   }
}
