@mixin flexCenter(
  $direction: column,
  $justify: space-evenly,
  $align: flex-start
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
