// COLORS
$color-primary: #674baf;
$color-secondary: #e882e8;
$color-tertiary: #fff;

// FONT
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$font-weight-light: 400;
$font-weight-bold: 700;

$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-large: 2.5rem;

// BREAKPOINTS
$bp-md: 48em; // 768px
$bp-lg: 61.875em; // 990px
