.footer {
  position: fixed;
  bottom: 2rem;
  text-align: center;

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      outline: none;
      transition: all 0.2s;
    }

    &:focus,
    &:hover,
    &:active {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
