.footer {
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      outline: none;
      transition: all 0.2s;
    }

    &:focus,
    &:hover,
    &:active {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
