.main {
  grid-row: 2 / 4;
  grid-column: 1 / -1;
  z-index: 0;
  align-self: stretch;
}

#map {
  height: 80vh;

  @include responsive(small) {
    height: 78vh;
  }

  @include responsive(medium) {
    height: 76vh;
  }

  @include responsive(x-large) {
    height: 74vh;
  }
}
