@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gridCenter() {
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 34rem));
}
