// COLORS
$color-primary: #98a6bd;
$color-secondary: #c0df34;

$color-bg-primary: #e5eff5;
$color-bg-secondary: #2ab2af;

// FONTS
$font-primary: 'Karla', sans-serif;

$font-size-extra-small: 1.2rem;
$font-size-small: 1.5rem;
$font-size-medium: 1.6rem;
$font-size-large: 2rem;
$font-size-extra-large: 3rem;

$font-weight-light: 400;
$font-weight-bold: 700;

// BREAKPOINTS
$bp-md: 48em; // 768px
$bp-md: 61.875em; // 990px;
