.btn {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;

  &-theme {
    background-image: url(../img/icon-moon.svg);
    background-repeat: no-repeat;
    height: 3rem;
    width: 3rem;

    &--dark {
      background-image: url(../img/icon-sun.svg);
    }
  }

  &-add {
    border-radius: 100%;
    border: 0.05rem solid $color-lt-border;
    color: $color-lt-txt-generic;
    font-size: $font-size-md;
    height: 2.5rem;
    width: 2.8rem;

    &:focus,
    &:hover {
      color: $color-lt-secondary-bg;
      background-image: $color-gradient;
    }
  }

  &-check:checked,
  &-check:not(:checked) {
    position: relative;
    height: 2rem;
    width: 2rem;
    opacity: 0;
    z-index: 1;
  }

  &-check:checked + &-check--icon,
  &-check:not(:checked) + &-check--icon {
    display: inline;
    cursor: pointer;
    z-index: -1;
  }

  &-check:checked + &-check--icon:before,
  &-check:not(:checked) + &-check--icon:before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.05rem solid $color-lt-border;
    border-radius: 100%;
    background-color: transparent;
  }

  &-check:checked + &-check--icon:after,
  &-check:not(:checked) + &-check--icon:after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 1.9rem;
    width: 1.9rem;
    background-image: url(../img/icon-check.svg), $color-gradient;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
  }

  &-check:not(:checked) + &-check--icon:after {
    opacity: 0;
    transform: scale(0);
  }

  &-check:checked + &-check--icon:after {
    opacity: 1;
    transform: scale(1);
  }

  &-check:checked ~ .item {
    text-decoration: line-through;
    color: $color-lt-txt-completed;
  }

  &-delete {
    position: absolute;
    top: 60%;
    right: 0.5rem;
    transform: translate(-50%, -50%);
    background-image: url(../img/icon-cross.svg);
    background-repeat: no-repeat;
    height: 2.5rem;
    width: 2.5rem;

    @media only screen and (min-width: $bp-lg) {
      display: none;
    }
  }

  &-filter {
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: $font-size-sm;
    color: $color-lt-txt-generic;

    &.selected {
      color: $color-primary;
    }
  }

  &-clear {
    &:focus,
    &:hover {
      color: $color-primary;
    }
  }
}

.container--dark {
  .btn {
    &-add {
      border: 0.05rem solid $color-dt-border;
      color: $color-lt-txt-generic;

      &:focus,
      &:hover {
        color: $color-lt-secondary-bg;
        background-image: $color-gradient;
      }
    }

    &-check:checked ~ .item {
      color: $color-dt-txt-completed;
    }
  }

  .btn-check:checked + .btn-check--icon:before,
  .btn-check:not(:checked) + .btn-check--icon:before {
    border: 0.05rem solid $color-dt-border;
  }
}
