.list {
  list-style: none;
  border-radius: 0.45rem;

  &-item {
    cursor: pointer;
    padding: 2rem;
    background-color: $color-lt-secondary-bg;
    position: relative;

    // @include flexCenter($justify: flex-start);

    &:first-child {
      border-top-left-radius: 0.45rem;
      border-top-right-radius: 0.45rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.45rem;
      border-bottom-right-radius: 0.45rem;
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-lt-border;
    }

    &:focus > .btn-delete,
    &:hover > .btn-delete {
      display: inline-block;
    }
  }
}

.item {
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translate(-50%, -50%);
}

.container--dark {
  .list {
    &-item {
      background-color: $color-dt-secondary-bg;

      &:not(:last-child) {
        border-bottom: 0.15rem solid $color-dt-border;
      }
    }
  }
}
