.list {
  list-style: none;
  border-radius: 0.45rem;

  &-item {
    cursor: pointer;
    padding: 1.5rem;
    background-color: var(--color-secondary-bg);
    position: relative;

    &:first-child {
      border-top-left-radius: 0.45rem;
      border-top-right-radius: 0.45rem;
    }

    &:last-child {
      border-bottom-left-radius: 0.45rem;
      border-bottom-right-radius: 0.45rem;

      @media only screen and (min-width: $bp-lg) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid var(--color-border);
    }

    &:focus > .btn-delete,
    &:hover > .btn-delete {
      display: inline-block;
    }
  }
}

.item {
  position: absolute;
  top: 60%;
  left: 7rem;
  transform: translate(-50%, -50%);
}
