.about {
  @media only screen and (min-width: $bp-lg) {
    display: grid;
    grid-template-rows: 45rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $bp-xl) {
    grid-template-rows: 40rem;
    grid-template-columns: 55rem 80rem;
  }

  &__image-box {
    background-image: url(../img/bg-intro-mobile.svg);
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;

    @media only screen and (min-width: $bp-lg) {
      position: absolute;
      top: -10rem;

      background-image: url(../img/bg-intro-desktop.svg);
      background-size: contain;
      background-position: 45rem -5rem;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    @media only screen and (min-width: $bp-xl) {
      background-position: 57rem -8rem;
    }

    @media only screen and (min-width: $bp-xxl) {
      position: static;
      overflow: visible;
      background-size: cover;
      background-position: -1rem -20rem;
      text-align: center;
    }
  }

  &__mockup {
    width: 100%;
    margin-top: -20rem;

    @media only screen and (min-width: $bp-md) {
      width: 75%;
      margin-top: -25rem;
    }

    @media only screen and (min-width: $bp-lg) {
      width: 55%;
      margin-top: -4rem;
      margin-left: 57rem;
    }

    @media only screen and (min-width: $bp-xl) {
      width: 55%;
      margin-top: -13rem;
      margin-left: 69.5rem;
    }

    @media only screen and (min-width: $bp-xxl) {
      width: 70%;
      margin-top: -15rem;
      margin-left: 0rem;
    }
  }

  &__information-box {
    width: 30rem;

    margin: 0 auto;
    z-index: 1;

    @include internalPadding;
    padding-top: 3rem;
    padding-bottom: 5rem;

    @media only screen and (min-width: $bp-xs) {
      width: 40rem;
    }

    @media only screen and (min-width: $bp-sm) {
      width: 50rem;
    }

    @media only screen and (min-width: $bp-lg) {
      grid-row: 1 / -1;
      grid-column: 1 / 2;
      align-self: center;

      width: 60rem;
      margin: 0;
    }

    @media only screen and (min-width: $bp-xl) {
      padding-right: 3rem;
    }
  }
}
