.btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border-radius: 50rem;
  outline: none;
  transition: all 0.15s;
  // transition: all 0.2s;
  cursor: pointer;

  @media only screen and(min-width: $bp-lg) {
    display: inline-block;
  }

  &--gradient {
    background-image: $color-tertiary-gradient;
  }

  &:focus,
  &:hover {
    transform: scale(1.1);
    background-image: linear-gradient(
      to right,
      lighten($color-primary-gradient, 10%),
      lighten($color-secondary-gradient, 10%)
    );
  }

  &:active {
    transform: translateY(0.2rem);
  }
}
