.btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border-radius: 50rem;

  &--gradient {
    background-image: linear-gradient(
      to right,
      $color-primary-gradient,
      $color-secondary-gradient
    );
  }
}
