.features {
  @include internalGrid;
}

.intro-box {
  @media only screen and (min-width: $bp-md) {
    width: 40rem;
    margin: auto;
    padding-bottom: 4rem;
  }

  @media only screen and (min-width: $bp-lg) {
    width: 100%;
    text-align: left;
  }
}