:root {
  --bg-color-body: rgb(18, 20, 23);
  --bg-color-card: rgb(32, 39, 49);
  --bg-color-details: rgb(38, 47, 56);
  --bg-color-active: rgb(126, 135, 152);
  --bg-color-btn: rgb(251, 116, 19);
  --text-color-heading: rgb(255, 255, 255);
  --text-color-paragraph: rgb(128, 135, 145);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background-color: var(--bg-color-body);
}
.main {
  position: relative;
  width: 32.5rem;
  height: 36rem;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 32.5rem;
  height: 36rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-card);
  background-color: var(--bg-color-card);
  padding: 2.2rem 2.3rem;
  transition: all 0.4s ease-in-out;
}
.card-2 {
  transform: scale(0);
}
.card--hide {
  animation-duration: 1s;
  animation-name: fadeOut;
  transform: scale(0);
}
.card--show {
  animation-duration: 1s;
  animation-name: fadeIn;
  transform: scale(1);
}
.card-1 .background-image {
  height: 2rem;
  width: 2rem;
  padding: 2rem;
  border-radius: 100%;
  background-color: var(--bg-color-details);
  background-image: url(/src/images/icon-star.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}
.heading {
  font-size: 2.4rem;
  margin: 2rem 0 1.4rem;
  color: var(--text-color-heading);
}
.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: -0.04rem;
  color: var(--text-color-paragraph);
}
.paragraph-score {
  width: 16.5rem;
  margin: 0 auto;
  padding: 0.6rem 0 0.4rem;
  background-color: var(--bg-color-details);
  color: var(--bg-color-btn);
  border-radius: 2rem;
}
.scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.7rem 0 2.5rem;
  list-style: none;
}
.score {
  width: 4rem;
  height: 4rem;
  line-height: 4.3rem;
  text-align: center;
  border-radius: 100%;
  background-color: var(--bg-color-details);
  color: var(--text-color-paragraph);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.score:focus,
.score:hover {
  background-color: var(--bg-color-btn);
  color: var(--text-color-heading);
}
.score.active {
  background-color: var(--bg-color-active);
  color: var(--text-color-heading);
}
.btn {
  width: 100%;
  height: 4.5rem;
  line-height: 5rem;
  border-radius: 2rem;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--bg-color-btn);
  color: var(--text-color-heading);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--text-color-heading);
  color: var(--bg-color-btn);
}
.card-2 {
  text-align: center;
}
.card-2 .background-image {
  height: 9.5rem;
  width: 14.5rem;
  margin: 1rem auto 2.8rem;
  padding: 2rem;
  background-image: url(/src/images/illustration-thank-you.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-2 .heading {
  margin: 2.8rem 0 1.4rem;
}
/* ATTRIBUTION */
.attribution {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  display: flex;
  align-items: center;
}
.attribution-btn {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.8rem;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-color-btn);
  cursor: pointer;
  transition: all 0.3s;
}
.fa-solid.fa-code {
  color: var(--text-color-heading);
  font-size: 1.5rem;
  transition: all 0.3s;
}
.attribution-btn:hover {
  background-color: var(--text-color-heading);
}
.attribution-btn:hover .fa-solid.fa-code {
  color: var(--bg-color-btn);
}
.attribution-information {
  display: inline-block;
  color: var(--text-color-paragraph);
  font-size: 1.1rem;
  text-align: right;
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.4s ease-in;
}
.attribution-link:link,
.attribution-link:visited {
  color: var(--bg-color-btn);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}
.attribution-link:focus,
.attribution-link:hover,
.attribution-link:active {
  color: var(--text-color-heading);
  text-decoration: underline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.attribution-information.show {
  width: 31rem;
  transform: translateX(0px);
  opacity: 1;
}
/* ANIMAIONS */
@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    width: 41.5rem;
    height: 41.5rem;
  }
  .card {
    width: 41.5rem;
    height: 41.5rem;
    border-radius: 3rem;
    padding: 3.2rem 3.4em;
  }
  .card-1 .background-image {
    height: 3rem;
    width: 3rem;
    padding: 2.3rem;
    background-position: 1.5rem 1.5rem;
  }
  .heading {
    font-size: 2.75rem;
    margin: 3.4rem 0 1.2rem;
  }
  .paragraph {
    line-height: 2.3rem;
    letter-spacing: 0;
  }
  .scores {
    margin: 2.7rem 0 3.2rem;
  }
  .score {
    width: 5rem;
    height: 5rem;
    line-height: 5.3rem;
    font-size: 1.7rem;
  }
  .card-2 .background-image {
    height: 10.7rem;
    width: 16rem;
    margin: 1rem auto 3.5rem;
  }
  .card-2 .heading {
    margin: 3.5rem 0 1.1rem;
  }
  .paragraph {
    letter-spacing: 0.01rem;
  }
  .paragraph-score {
    width: 19.5rem;
    letter-spacing: 0;
  }
}
