@import '../../../../assets/styles/abstracts/mixins';
@import '../../../../assets/styles/abstracts/variables';


.footer {
  padding: 4.8rem 3.2rem;
  background-color: hsl(var(--color-bg-dark));

  @include changeBreakpointView(tablet) {
    padding: 5.6rem 4rem;
  }

  @include changeBreakpointView(desktop) {
    padding: 8rem 0;
  }

  &-container {
    max-width: 111rem;
    margin: 0 auto;

    @include changeBreakpointView(tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-logo {
    display: inline-block;
    width: 11rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: 11rem 4rem;
    background-image: url(../../../../assets/images/logo-light.svg);

    @include changeBreakpointView(desktop) {
      width: 26rem;
      height: 5.8rem;
      background-size: 16rem 5.8rem;
    }
  }

  &-wrapper {
    margin-bottom: 3.8rem;

    @include changeBreakpointView(tablet) {
      display: flex;
      column-gap: 6.5rem;
      margin-bottom: 0;
    }
  }

  &-p {
    margin-top: 3.8rem;

    @include changeBreakpointView(tablet) {
      margin-top: 0;
      max-width: 28.1rem;
    }
  }

  &-nav {
    &-list {
      display: flex;
      column-gap: 2rem;
      list-style: none;
    }

    &-link {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all .2s linear;

      &--facebook {
        background-image: url(../../../../assets/images/icon-facebook-white.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-facebook-gold.svg);
        }
      }

      &--instagram {
        background-image: url(../../../../assets/images/icon-instagram-white.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-instagram-gold.svg);
        }
      }

      &--twitter {
        background-image: url(../../../../assets/images/icon-twitter-white.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-twitter-gold.svg);
        }
      }
    }
  }
}

.footer.footer-location {
  background-color: hsl(var(--color-bg-gold));

  .footer-logo {
    background-image: url(../../../../assets/images/logo-dark.svg);
  }

  .footer-nav {
    &-link {
      &--facebook {
        background-image: url(../../../../assets/images/icon-facebook-black.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-facebook-white.svg);
        }
      }

      &--instagram {
        background-image: url(../../../../assets/images/icon-instagram-black.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-instagram-white.svg);
        }
      }

      &--twitter {
        background-image: url(../../../../assets/images/icon-twitter-black.svg);

        &:hover {
          background-image: url(../../../../assets/images/icon-twitter-white.svg);
        }
      }
    }
  }
}