<footer class="footer" [class.footer-location]="!isHome">
  <div class="footer-container">
    <div class="footer-wrapper">
      <div class="footer-logo"></div>

      <p class="footer-p">
        The Modern Art Gallery is free to all visitors and open seven days a week
        from 8am to 9pm. Find us at 99 King Street, Newport, USA.
      </p>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link footer-nav-link--facebook" href="#" aria-label="Visit our Facebook page"></a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link footer-nav-link--instagram" href="#" aria-label="Visit our Instagram page"></a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link footer-nav-link--twitter" href="#" aria-label="Visit our Twitter page"></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

