* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (min-width: 25em) {
  html {
    font-size: 75%;
  }
}

.container {
  background-color: #e4e5f1;
  background-image: url(../img/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (min-width: 61.875em) {
  .container {
    background-image: url(../img/bg-desktop-light.jpg);
  }
}

.container--dark {
  background-color: #161722;
  background-image: url(../img/bg-mobile-dark.jpg);
}

@media only screen and (min-width: 61.875em) {
  .container--dark {
    background-image: url(../img/bg-desktop-dark.jpg);
  }
}

.wrapper {
  width: calc(100vw - 5rem);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 25em) {
  .wrapper {
    max-width: 60rem;
  }
}

.container {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: #fafafa;
}

.paragraph {
  font-size: 1.3rem;
  font-weight: 700;
  color: #9393a5;
}

.paragraph--small {
  font-size: 1.2rem;
}

.block__add-todo__input {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  color: #484b6a;
  letter-spacing: 0.05rem;
}

.block__add-todo__input::-webkit-input-placeholder {
  color: #d2d3db;
}

.block__add-todo__input:-ms-input-placeholder {
  color: #d2d3db;
}

.block__add-todo__input::-ms-input-placeholder {
  color: #d2d3db;
}

.block__add-todo__input::placeholder {
  color: #d2d3db;
}

.item {
  font-size: 1.5rem;
  color: #40455f;
}

.footer {
  font-size: 1.2rem;
  color: #777a92;
}

.footer__link:link, .footer__link:visited {
  font-weight: 700;
  color: #484b6a;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: #3a7bfd;
}

.container--dark .paragraph {
  color: #4d5066;
}

.container--dark .block__add-todo__input {
  color: #e4e5f1;
}

.container--dark .block__add-todo__input::-webkit-input-placeholder {
  color: #4d5066;
}

.container--dark .block__add-todo__input:-ms-input-placeholder {
  color: #4d5066;
}

.container--dark .block__add-todo__input::-ms-input-placeholder {
  color: #4d5066;
}

.container--dark .block__add-todo__input::placeholder {
  color: #4d5066;
}

.container--dark .item {
  color: #e4e5f1;
}

.u-hide {
  display: none;
}

.u-text-center {
  text-align: center;
}

.u-mt-md {
  margin-top: 2.5rem;
}

.u-mt-lg {
  margin-top: 5rem;
}

.u-mb-lg {
  margin-bottom: 5rem;
}

.btn {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-theme {
  background-image: url(../img/icon-moon.svg);
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
}

.btn-theme--dark {
  background-image: url(../img/icon-sun.svg);
}

.btn-add {
  border-radius: 100%;
  border: 0.05rem solid #e8e8ec;
  color: #9393a5;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.8rem;
}

.btn-add:focus, .btn-add:hover {
  color: #fafafa;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(to bottom right, #57ddff, #c058f3);
}

.btn-check:checked, .btn-check:not(:checked) {
  position: relative;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  z-index: 1;
}

.btn-check:checked + .btn-check--icon,
.btn-check:not(:checked) + .btn-check--icon {
  display: inline;
  cursor: pointer;
  z-index: -1;
}

.btn-check:checked + .btn-check--icon:before,
.btn-check:not(:checked) + .btn-check--icon:before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.05rem solid #e8e8ec;
  border-radius: 100%;
  background-color: transparent;
}

.btn-check:checked + .btn-check--icon:after,
.btn-check:not(:checked) + .btn-check--icon:after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 1.9rem;
  width: 1.9rem;
  background-image: url(../img/icon-check.svg), -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background-image: url(../img/icon-check.svg), linear-gradient(to bottom right, #57ddff, #c058f3);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-check:not(:checked) + .btn-check--icon:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn-check:checked + .btn-check--icon:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-check:checked ~ .item {
  text-decoration: line-through;
  color: #d2d3db;
}

.btn-delete {
  position: absolute;
  top: 60%;
  right: 0.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (min-width: 61.875em) {
  .btn-delete {
    display: none;
  }
}

.btn-filter {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
  color: #9393a5;
}

.btn-filter.selected {
  color: #3a7bfd;
}

.btn-clear:focus, .btn-clear:hover {
  color: #3a7bfd;
}

.container--dark .btn-add {
  border: 0.05rem solid #393a4c;
  color: #9393a5;
}

.container--dark .btn-add:focus, .container--dark .btn-add:hover {
  color: #fafafa;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(to bottom right, #57ddff, #c058f3);
}

.container--dark .btn-check:checked ~ .item {
  color: #4d5066;
}

.container--dark .btn-check:checked + .btn-check--icon:before,
.container--dark .btn-check:not(:checked) + .btn-check--icon:before {
  border: 0.05rem solid #393a4c;
}

.list {
  list-style: none;
  border-radius: 0.45rem;
}

.list-item {
  cursor: pointer;
  padding: 1.5rem;
  background-color: #fafafa;
  position: relative;
}

.list-item:first-child {
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}

.list-item:last-child {
  border-bottom-left-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}

@media only screen and (min-width: 61.875em) {
  .list-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.list-item:not(:last-child) {
  border-bottom: 0.1rem solid #e8e8ec;
}

.list-item:focus > .btn-delete,
.list-item:hover > .btn-delete {
  display: inline-block;
}

.item {
  position: absolute;
  top: 60%;
  left: 7rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container--dark .list-item {
  background-color: #25273c;
}

.container--dark .list-item:not(:last-child) {
  border-bottom: 0.15rem solid #393a4c;
}

.footer {
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
}

.block__add-todo {
  margin-top: 2.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.45rem;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__add-todo__input {
  width: 100%;
  margin-left: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.block__item-leftCompleted {
  margin-top: 2.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.45rem;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 61.875em) {
  .block__item-leftCompleted {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0.1rem solid #e8e8ec;
  }
}

.block__filter-todo {
  margin-top: 2.5rem;
  padding: 1.5rem 5rem;
  border-radius: 0.45rem;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__dragDrop {
  opacity: 0;
}

@media only screen and (min-width: 61.875em) {
  .block__dragDrop {
    opacity: 1;
  }
}

.container--dark .block__add-todo, .container--dark .block__item-leftCompleted, .container--dark .block__filter-todo {
  background-color: #25273c;
}

@media only screen and (min-width: 61.875em) {
  .container--dark .block__item-leftCompleted {
    border-top: 0.15rem solid #393a4c;
  }
}
