.main {
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;

  @include responsive(small) {
    max-width: 40rem;
  }

  @include responsive(medium) {
    max-width: 60rem;
  }

  @include responsive(large) {
    @include flexCenter(
      $direction: row,
      $justify-content: space-around,
      $align: center
    );

    max-width: 100rem;
  }

  @include responsive(x-large) {
    max-width: 110rem;
  }
}

.section-intro {
  text-align: center;

  @include responsive(large) {
    margin-right: 5rem;
    text-align: left;
  }

  @include responsive(x-large) {
    margin-right: 10rem;
  }
}

.header__text-box {
  padding: 1.8rem 3.5rem;
  border-radius: 1rem;
  background-color: $color-secondary-bg;
  box-shadow: 0 0.8rem rgba($color-primary-shadow, 0.2);
}
