@mixin flexCenter($direction: row, $justify-content: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align;
}

@mixin textStyle ($size, $weight: $font-weight-medium, $color:$color-primary-text){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin linkStates ($size:$font-size-xs, $color:$color-tertiary-text){
  &:link,
  &:visited {
    font-size: $size;
    color: $color;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-primary-gradient;
  }
}