@mixin textStyle(
  $size: $font-size-sm,
  $weight: $font-weight-regular,
  $color: $color-primary-text
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin linkStates($size: $font-size-sm, $color: $color-tertiary-text) {
  transition: transform 0.3s;

  &:link,
  &:visited {
    font-size: $size;
    color: $color;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-primary-gradient;
  }
}

@mixin internalPadding() {
  padding: 6rem 3rem;

  @media only screen and (min-width: $bp-xs) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media only screen and (min-width: $bp-sm) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media only screen and (min-width: $bp-md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media only screen and (min-width: $bp-lg) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media only screen and (min-width: $bp-xl) {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@mixin internalGrid() {
  display: grid;
  row-gap: 2.8rem;

  @media only screen and (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  @media only screen and (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
}
