@mixin textStyle ($size:$font-size-sm, $weight: $font-weight-medium, $color:$color-primary-text){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin linkStates ($size:$font-size-sm, $color:$color-tertiary-text){
  &:link,
  &:visited {
    font-size: $size;
    color: $color;
    text-decoration: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-primary-gradient;
  }
}

@mixin internalGrid() {
  display: grid;
  row-gap: 3rem;


  @media only screen and (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    
    text-align: left;
  }

  @media only screen and (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}