// COLORS
$color-primary-text: #2d314d;
$color-secondary-text: #9698a6;
$color-tertiary-text: #ffffff;

$color-primary-gradient: #31d35c;
$color-secondary-gradient: #2bb7da;

$color-primary-bg: #fafafa;
$color-secondary-bg: #f3f4f6;

// FONTS
$font-size-xxs: 1.1rem;
$font-size-xs: 1.4rem;
$font-size-sm: 1.8rem;
$font-size-md: 2.2rem;
$font-size-lg: 3rem;
$font-size-xl: 4rem;

$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// RESPONSIVE BREAKPOINTS
$bp-sm: 25em; // 400px
$bp-md: 37.5em; // 600px
$bp-lg: 61.875em; // 990px
$bp-xl: 87.5em; // 1400px
