// COLORS
$color-primary: #4c4e61;
$color-secondary: #a3a5ae;
$color-tertiary: #fafafa;

$color-red: #ea5353;
$color-cyan: #45d3d3;
$color-orange: #fcaf4a;
$color-blue: #549ef2;

// FONT WEIGHT
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;

// BREAKPOINTS
$bp-md: 48em; // 768px
$bp-lg: 75em; // 1200px
