* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1rem = 8px -> (8px / 16px) * 100 = 50%;

  @include responsive(small) {
    font-size: 56.25%; // 1rem = 9px -> (9px / 16px) * 100 = 56.25%;
  }

  @include responsive(medium) {
    font-size: 62.5%; // 1rem = 10px -> (10px / 16px) * 100 = 62.5%;
  }

  @include responsive(large) {
    font-size: 68.75%; // 1 rem = 11px -> (11px / 16px) * 100 = 68.75%;
  }

  @include responsive(x-large) {
    font-size: 75%; // 1rem = 12px -> (12px / 16px) * 100 = 75%;
  }

  @include responsive(xx-large) {
    font-size: 87.5%; // 1rem = 14px -> (14px / 16px) * 100 = 87.5%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  @include flexCenter(column);
}
