body {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  letter-spacing: 0.05rem;
}

.heading-primary {
  color: $color-tertiary;
  font-weight: $font-weight-medium;
}

.heading-secondary {
  font-size: $font-size-small;
  color: $color-secondary;
}

.form {
  &__input {
    font-family: inherit;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    letter-spacing: inherit;
    color: $color-primary;

    &::placeholder {
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
    }
  }
}

.card {
  &-box__info {
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
  }
}
