<nav class="nav">
  <span class="nav-logo">adamkeyes</span>

  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link nav-link--github" href="#" aria-label="See GitHub page"></a></li>
    <li class="nav-item"><a class="nav-link nav-link--frontend" href="#" aria-label="See Frontend Mentor page"></a></li>
    <li class="nav-item"><a class="nav-link nav-link--linkedin" href="#" aria-label="See Linkedin page"></a></li>
    <li class="nav-item"><a class="nav-link nav-link--twitter" href="#" aria-label="See Twitter page"></a></li>
  </ul>
</nav>
