// COLORS
$primary-color: #5ba4a4;
$secondary-color: #7b8e8e;
$tertiary-color: #2c3a3a;

$primary-bg-color: #effafa;
$secondary-bg-color: #eef6f6;

// FONTS
$font-size-xs: 0.8rem;
$font-size-sm: 1.1rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;

$font-weight-medium: 500;
$font-weight-bold: 700;

// RESPONSIVE BREAKPOINTS
$bp-md: 48em; // 768px
