.container {
  font-family: 'Spartan', sans-serif;
  font-size: $font-size-sm;
  font-weight: $font-weight-md;
  color: $color-primary;
}

.filters {
  &__item {
    font-weight: $font-weight-bd;
  }
}

.job {
  &__company {
    font-weight: $font-weight-bd;
  }

  &__type {
    font-size: $font-size-xs;
    color: $color-bg-primary;
    text-transform: uppercase;
  }

  &__position {
    &:link,
    &:visited {
      font-size: $font-size-md;
      font-weight: $font-weight-bd;
      color: $color-tertiary;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__details {
    color: $color-secondary;
  }

  &__filter {
    font-weight: $font-weight-bd;

    &:focus,
    &:hover {
      color: $color-bg-primary;
    }
  }
}

.footer {
  font-size: $font-size-xs;
  color: $color-secondary;

  &__link {
    &:link,
    &:visited {
      font-weight: $font-weight-bd;
      color: darken($color-primary, 10%);
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-tertiary;
    }
  }
}
