.u-mt-sm {
  margin-top: 1.3rem;
}

.u-mb-xs {
  margin-bottom: 0.5rem;

  @media only screen and(min-width: $bp-lg) {
    margin-bottom: 0;
  }
}

.u-mb-sm {
  margin-bottom: 1.3rem;
}
