<app-navigation></app-navigation>

<section class="hero">
  <h1 class="heading-primary">Design solutions made easy</h1>
  <p class="paragraph">
    With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.
  </p>

  <div class="design-disciplines-container">
    <div class="design-discipline design-discipline--graphic-design">
      <span class="design-discipline--info">Graphic Design</span>
    </div>
    <div class="design-discipline design-discipline--ui-ux">
      <span class="design-discipline--info">UI/UX</span>
    </div>
    <div class="design-discipline design-discipline--apps">
      <span class="design-discipline--info">Apps</span>
    </div>
    <div class="design-discipline design-discipline--illustrations">
      <span class="design-discipline--info">Illustrations</span>
    </div>
    <div class="design-discipline design-discipline--photography">
      <span class="design-discipline--info">Photography</span>
    </div>
    <div class="design-discipline design-discipline--motion-graphics">
      <span class="design-discipline--info">Motion Graphics</span>
    </div>
  </div>
</section>

<section class="about-me">
  <img class="about-me--img" src="../assets/images/image-amy.webp" alt="">
  <h2 class="heading-secondary heading-secondary--dark">I’m Amy, and I’d love to work on your next project</h2>
  <p class="paragraph">
    I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!
  </p>

  <a href="#" class="about-me--link">Free Consultation</a>
</section>

<app-slider></app-slider>

<section class="book-call">
  <h2 class="heading-secondary heading-secondary--light">Book a call with me</h2>
  <p class="paragraph paragraph--light">
    I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a
  free consultation. Then we can move forward from there.
  </p>

  <a href="#" class="about-me--link">Free Consultation</a>
</section>

<app-navigation></app-navigation>

<app-attribution></app-attribution>
