<div class="link-container">
  <a class="page-a page-a--left" routerLink="/"><span class="page-a--arrow page-a--arrow-left"></span>Back to Home</a>
</div>

<section class="map">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</section>

<section class="location">
  <div class="location-container">
    <h1 class="location-h1">Our location</h1>

    <div class="location-wrapper">
      <h2 class="location-h2">99 King Street</h2>

      <h3 class="location-h3">
        <span class="location-h3--block">Newport</span>
        <span class="location-h3--block">RI 02840</span>
        <span class="location-h3--block">United States of America</span>
      </h3>

      <p class="location-p">
        Our newly opened gallery is located near the Edward King House on 99 King
        Street, the Modern Art Gallery is free to all visitors and open seven days
        week from 8am to 9pm.
      </p>
    </div>
  </div>
</section>
