.card {
  position: absolute;
  top: 24rem;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  @include flexCenter(column, space-evenly, center);
  height: 25rem;
  width: 35rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-tertiary;

  @include responsive(small) {
    width: 36.5rem;
  }

  @include responsive(medium) {
    top: 17rem;

    @include flexCenter(row, space-evenly, center);
    height: 10rem;
    width: 72rem;
    padding: 2rem 3rem;
    text-align: left;
  }

  @include responsive(large) {
    top: 16rem;
    max-width: 100vw;
  }

  &-box {
    flex: 1 1 0rem;
    align-self: stretch;

    &__info {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }

    @include responsive(medium) {
      &:not(:first-child) {
        border-left: 1px solid $color-secondary;
        padding-left: 2rem;
      }
    }
  }
}
