.card {
  grid-row: 2 / 3;
  grid-column: 2 / 16;
  z-index: 100;

  @include flexCenter(column, space-evenly, center);
  padding: 2rem;
  border-radius: 1rem;
  background-color: $color-tertiary;

  @include responsive(small) {
    grid-column: 3 / 15;
  }

  @include responsive(medium) {
    grid-column: 2 / 16;

    @include flexCenter(row, space-evenly, center);
    padding: 2rem 3rem;
    text-align: left;
  }

  @include responsive(large) {
    grid-column: 4/ 14;
  }

  &-box {
    flex: 1 1 0rem;
    align-self: stretch;
    padding: 0.5rem;

    &__info {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }

    @include responsive(medium) {
      &:not(:first-child) {
        border-left: 1px solid $color-secondary;
        padding-left: 2rem;
      }
    }
  }
}
