.card {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);

  @include flexCenter(column, space-evenly, center);

  height: 25rem;
  width: calc(100% - 2.5rem);
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-tertiary;

  &-box {
    &__info {
      padding: 0.3rem;
    }
  }
}
