.footer {
  position: fixed;
  bottom: 50%;
  right: 1rem;
  transform: rotate(180deg) translate(-50%, -50%);
  writing-mode: vertical-rl;
  background-color: rgba($color-dt-text-lt-elements, 0.4);
  padding: 0.5rem;
  border-radius: .2rem;

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      outline: none;
      transition: all 0.2s;
    }

    &:focus,
    &:hover,
    &:active {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
