.header {
  padding: 3rem;
  background-color: $color-dt-text-lt-elements;

  @include flexCenter($justify: space-between);
}

.container--dark {
  .header {
    background-color: $color-dt-elements;
  }
}