body {
  font-family: $font-primary;
}

.heading-primary {
  color: $color-bg-secondary;
  font-size: $font-size-large;
}

.heading-secondary {
  font-size: $font-size-medium;
  color: $color-bg-primary;

  &--alternative {
    color: $color-secondary;
  }
}

.paragraph {
  font-size: $font-size-small;
  color: $color-bg-primary;

  &--dark {
    color: $color-primary;
  }

  &--big {
    font-size: $font-size-extra-large;
  }

  &--medium {
    font-size: $font-size-small;
  }
}

.navigation {
  &__item {
    list-style-type: none;
    padding-left: 0;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-bg-primary;
      font-size: $font-size-extra-small;
      line-height: 1.7;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:focus,
    &:hover {
      color: $color-secondary;
    }
  }
}

.footer {
  font-size: $font-size-medium;

  &__link {
    &:link,
    &:visited {
      font-weight: $font-weight-bold;
      color: $color-primary;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-bg-secondary;
    }
  }
}
