/* CUSTOM PROPERTIES */
:root {
  --bg-main: hsl(0, 0%, 100%);
  --bg-medium: hsla(301, 23%, 96%, 1);

  --text-main: hsl(301, 44%, 22%, 1);
  --text-pinkish: hsl(333, 80%, 67%);
  --text-grayish: hsl(303, 10%, 53%);

  --linear-gradient: linear-gradient(to right, rgba(81, 31, 80, 1), rgba(238, 104, 164, 1));
}
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
/* STYLES */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  background-image: url(/src/images/bg-pattern-top-mobile.svg), url(/src/images/bg-pattern-bottom-mobile.svg);
  background-size: contain;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  position: relative;
}
body::before,
body::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: var(--linear-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
body::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
body::after {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
body.open::before {
  clip-path: polygon(0 0, 0 100%, 0 100%);
}
body.open::after {
  clip-path: polygon(100% 0, 100% 0, 100% 100%);
}
.main {
  padding: 4rem 6.4vw;
  text-align: center;
}
.heading-primary {
  font-size: 4rem;
  line-height: 3.2rem;
  letter-spacing: -1.42857px;
  color: var(--text-main);
}
.paragraph {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: -0.633333px;
  color: var(--text-grayish);
  margin: 1.7rem auto 3.9rem;
}
.section.section-1 {
  max-width: 32.7rem;
  margin: 0 auto;
}
.ratings-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.ratings-container .rating {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.6rem 1rem;
  border-radius: .8rem;
  background-color: var(--bg-medium);
}
.ratings-container .rating .rating-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .85rem;
}
.ratings-container .rating .rating-stars .star {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background-image: url(/src/images/icon-star.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.ratings-container .rating .rating-source {
  font-size: 1.7rem;
  line-height: 1.6rem;
  color: var(--text-main);
}
.section.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.6rem;
  padding: 4.9rem 0 0;
  text-align: left;
}
.section.section-2 .feedback {
  max-width: 32.7rem;
  margin: 0 auto;
  padding: 4rem 3.2rem 3.5rem;
  border-radius: .8rem;
  background-color: var(--text-main);
}
.section.section-2 .feedback-author {
  display: flex;
  align-items: center;
  column-gap: 2.3rem;
  margin-bottom: 2.3rem;
}
.section.section-2 .feedback-author .author-img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 100%;
}
.section.section-2 .feedback-author .author-name {
  font-size: 1.7rem;
  line-height: 1.6rem;
  color: var(--bg-main);
}
.section.section-2 .feedback-author .author-status {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--text-pinkish);
  margin-top: .4rem;
}
.section.section-2 .feedback-content {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--bg-main);
}
/* MEDIA QUERY */
@media screen and (min-width: 660px) {
  body {
    background-image: url(/src/images/bg-pattern-top-desktop.svg), url(/src/images/bg-pattern-bottom-desktop.svg);
    background-size: contain;
    background-position: left top -27rem, right bottom 0;
    background-repeat: no-repeat;
  }
  .section.section-1 {
    max-width: 650rem;
  }
  .ratings-container {
    flex-direction: row;
    column-gap: 1.6rem;
  }
  .section.section-2 {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.9rem;
  }
  .section.section-2 .feedback {
    min-width: 27rem;
    max-width: 27rem;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .main {
    text-align: left;
  }
  .heading-primary {
    font-size: 5.6rem;
    line-height: 4.8rem;
    letter-spacing: -2px;
  }
  .paragraph {
    margin: 1.6rem auto 0;
  }
  .section.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 84rem;
  }
  .intro-container {
    width: 60%;
    padding-right: 4rem;
  }
  .ratings-container {
    flex-direction: column;
    width: 40%;
  }
  .ratings-container .rating {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.2rem;
    padding: 2rem 1rem;
    min-width: 29rem;
    max-width: 33rem;
    max-width: 44.5rem;
  }
  .section.section-2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5vw;
    padding: 7.1rem 0 0;
    min-height: 40rem;
  }
  .section.section-2 .feedback {
    min-width: 27rem;
    max-width: 27rem;
    margin: 0;
    padding: 4rem 2.5rem 3.5rem;
  }
  .section.section-2 .feedback-author {
    margin-bottom: 3.1rem;
  }
}
@media screen and (min-width: 850px) {
  .main {
    padding: 4rem 0.4vw;
  }
  .section.section-2 {
    flex-wrap: nowrap;
    min-height: 34rem;
  }
}
@media screen and (min-width: 962px) {
  .intro-container {
    width: 50%;
  }
  .ratings-container {
    flex-direction: column;
    width: 50%;
  }
  .ratings-container .rating-1 {
    align-self: flex-start;
  }
  .ratings-container .rating-2 {
    align-self: center;
  }
  .ratings-container .rating-3 {
    align-self: flex-end;
  }
  .section.section-2 {
    padding: 7.1rem 0 0;
    min-height: 40.5rem;
  }
  .section.section-2 .feedback-1 {
    align-self: flex-start;
  }
  .section.section-2 .feedback-2 {
    align-self: center;
  }
  .section.section-2 .feedback-3 {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1130px) {
  .main {
    padding: 0;
    max-width: 111rem;
    text-align: left;
  }
  .heading-primary {
    font-size: 5.6rem;
    line-height: 4.8rem;
    letter-spacing: -2px;
  }
  .paragraph {
    margin: 1.6rem auto 0;
  }
  .section.section-1 {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .intro-container {
    width: 50%;
    padding-right: 14rem;
  }
  .ratings-container {
    width: 50%;
  }
  .ratings-container .rating {
    flex-direction: row;
    justify-content: center;
    column-gap: 3.2rem;
    padding: 2rem 1rem;
    width: 44.5rem;
    max-width: 44.5rem;
    text-align: center;
  }
  .section.section-2 .feedback-1 {
    align-self: flex-start;
  }
  .section.section-2 .feedback-2 {
    align-self: center;
  }
  .section.section-2 .feedback-3 {
    align-self: flex-end;
  }
  .section.section-2 {
    flex-direction: row;
    column-gap: 3rem;
    padding: 7.1rem 0 0;
    min-height: 34.6rem;
  }
  .section.section-2 .feedback {
    max-width: 35rem;
    padding: 4rem 2.5rem 3.5rem;
  }
  .section.section-2 .feedback-1 {
    align-self: flex-start;
  }
  .section.section-2 .feedback-2 {
    align-self: center;
  }
  .section.section-2 .feedback-3 {
    align-self: flex-end;
  }
  .section.section-2 .feedback-author {
    margin-bottom: 3.1rem;
  }
}
