* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 75%; // 1rem = 12px

  @media only screen and (min-width: $bp-md) {
    font-size: 84.375%; // 1rem = 13.5px
  }

  @media only screen and (min-width: $bp-lg) {
    font-size: 93.75%; // 1rem = 15px
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 2rem;
  background-color: lighten($color-secondary, 35%);
  background-color: lighten($color-secondary, 28%);
  text-align: center;
}

.container {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $bp-md) {
    max-width: 50rem;
  }

  @media only screen and (min-width: $bp-lg) {
    max-width: 80rem;
  }
}
