body {
  font-family: 'Poppins', sans-serif;
  font-weight: $font-weight-regular;
  line-height: 1.6;
}

.heading-primary {
  font-weight: $font-weight-light;
  color: $color-primary;
  letter-spacing: 0.05rem;

  &--bold {
    font-weight: $font-weight-bold;
  }
}

.heading-secondary {
  color: $color-primary;
}

.paragraph {
  color: $color-secondary;
}

.footer {
  &__link {
    &:link,
    &:visited {
      font-weight: $font-weight-bold;
      color: $color-blue;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-red;
    }
  }
}
