.u-mb-sm {
  margin-bottom: 0.5rem;
}

.u-mb-md {
  margin-bottom: 1rem;
}

.u-mb-lg {
  margin-bottom: 2rem;

  @media only screen and (min-width: $bp-md) {
    margin-bottom: 3rem;
  }
}

.u-mt-lg {
  margin-top: 2rem;

  @media only screen and (min-width: $bp-md) {
    margin-top: 3rem;
  }
}
