.footer {
  background-color: $color-primary-text;

  @include internalPadding;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &-bar {
    text-align: center;

    @media only screen and (min-width: $bp-lg) {
      display: grid;
      grid-template-columns: 18rem repeat(2, minmax(10rem, 1fr));
    }

    @media only screen and (min-width: $bp-xl) {
      grid-template-columns: 25rem repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  &-column {
    &--1 {
      @media only screen and (min-width: $bp-lg) {
        text-align: left;
      }
    }

    &--2 {
      @media only screen and (min-width: $bp-lg) {
        display: grid;
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
      }
    }

    &--3 {
      @media only screen and (min-width: $bp-lg) {
        text-align: right;
      }
    }
  }

  &-nav {
    padding: 0.3rem;

    @media only screen and (min-width: $bp-lg) {
      padding: 0;
    }

    &--1,
    &--2 {
      list-style: none;
      text-align: center;

      @media only screen and (min-width: $bp-lg) {
        text-align: left;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      outline: none;
      transition: all 0.2s;
    }
  }

  &__copyright {
    padding: 1.5rem 0;
  }
}

.social-icon {
  padding: 1.2rem 0.5rem;

  &__item {
    display: inline;
    padding: 1rem 0.5rem;
  }

  &__link {
    outline: none;

    &:focus #icon,
    &:hover #icon {
      cursor: pointer;
      fill: $color-primary-gradient;
    }
  }
}
