.footer {
  padding: 4.5rem 1rem;
  background-color: $color-primary-text;
  text-align: center;

  &-nav {
    padding: 0.3rem;

    &--1,
    &--2 {
      list-style: none;
      text-align: center;
      text-align: center;
    }

    &__item {
      margin: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      outline: none;
      transition: all 0.2s;
    }

    &:focus,
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  &__copyright {
    padding: 1.5rem;
  }
}

.social-icon {
  padding: 1.2rem 0.5rem;

  &__item {
    display: inline;
    padding: 1rem 0.5rem;
  }
}
