.header {
  position: relative;
  z-index: 1;
  background-color: $color-tertiary-text;

  padding: 3rem 5rem 2rem;

  @media only screen and (min-width: $bp-md) {
    @include internalPadding;

    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
