.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 1;
  padding: 3.5rem 3rem 2.5rem;
  background-color: $color-tertiary-text;
}
