.navigation {
  position: relative;

  &__btn {
    border: none;
    background-color: none;
    background-color: transparent;
  }

  &__nav {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100vw - 5rem);
    border-radius: 0.5rem;
    background-color: $color-tertiary-text;
    box-shadow: 0 2rem 5.5rem 1.5rem rgba($color-primary-text, 0.4);
    transition: all 2s;

    &--animated-in {
      animation: moveInTop 1.6s ease-out;
      animation-fill-mode: backwards;
    }
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 3rem;
  }

  &__link {
    &:link,
    &:visited {
    }
  }
}
