.navigation {
  &__btn {
    height: 1.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    background: url(../img/icon-hamburger.svg) no-repeat;
    transition: all 0.6s;

    &--open {
      height: 2.5rem;
      width: 2.5rem;
      transform: rotate(360deg);
      background: url(../img/icon-close.svg) no-repeat;
    }

    @media only screen and(min-width: $bp-lg) {
      display: none;
    }
  }

  &__nav {
    &--open {
      position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: calc(100vw - 5rem);
      border-radius: 0.5rem;
      background-color: $color-tertiary-text;
      box-shadow: 0 12rem 5rem 12rem rgba($color-primary-text, 0.25);
      transition: all 1s;
      animation: moveInTop 1.6s ease-out;
    }

    @media only screen and(min-width: $bp-lg) {
      display: inline-block;
    }
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 3rem;
    border-bottom: .5rem solid transparent;

    &:focus,
    &:hover,
    &:active {
      border-image-source: $color-tertiary-gradient;
      border-image-slice: 1;
    }

    @media only screen and(min-width: $bp-lg) {
      display: inline;
      padding-bottom: 3.15rem;
    }
  }
}