@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    top: -50%;
    left: 50%;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    top: 30%;
    left: 50%;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    top: -50%;
    left: 50%;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    top: 30%;
    left: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (min-width: 28.125em) {
  html {
    font-size: 68.75%;
  }
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 75%;
  }
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

@media only screen and (min-width: 68.75em) {
  .container-box {
    max-width: 150rem;
  }
}

.container {
  font-family: 'Public Sans', sans-serif;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  color: #2d314d;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
  color: #2d314d;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 300;
  color: #2d314d;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.5;
}

.paragraph-author {
  font-size: 1.3rem;
  font-weight: 300;
  color: #9698a6;
}

.navigation__link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #2d314d;
}

@media only screen and (min-width: 68.75em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.3rem;
    font-weight: 300;
    color: #9698a6;
  }
}

.navigation__link:focus, .navigation__link:hover, .navigation__link:active {
  color: #2d314d;
}

.btn--gradient {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.05rem;
}

.article-box__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.article-box__link:link, .article-box__link:visited {
  font-size: 1.5rem;
  color: #2d314d;
  text-decoration: none;
}

.article-box__link:focus, .article-box__link:hover, .article-box__link:active {
  color: #31d35c;
}

.footer__copyright {
  font-size: 1.3rem;
  font-weight: 300;
  color: #9698a6;
}

.footer__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer__link:link, .footer__link:visited {
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: #31d35c;
}

.attribution {
  font-size: 1.3rem;
  font-weight: 300;
  color: #9698a6;
}

.attribution__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.attribution__link:link, .attribution__link:visited {
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

.attribution__link:focus, .attribution__link:hover, .attribution__link:active {
  color: #31d35c;
}

.u-hidden {
  display: none;
}

.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mb-sm {
  margin-bottom: 1.8rem;
}

.u-mb-md {
  margin-bottom: 2.3rem;
}

.u-mb-lg {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 68.75em) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 45rem;
        grid-template-rows: 45rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 87.5em) {
  .about {
    -ms-grid-rows: 40rem;
        grid-template-rows: 40rem;
    -ms-grid-columns: 55rem 80rem;
        grid-template-columns: 55rem 80rem;
  }
}

.about__image-box {
  background-image: url(../img/bg-intro-mobile.svg);
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 68.75em) {
  .about__image-box {
    position: absolute;
    top: -10rem;
    background-image: url(../img/bg-intro-desktop.svg);
    background-size: contain;
    background-position: 45rem -5rem;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

@media only screen and (min-width: 87.5em) {
  .about__image-box {
    background-position: 57rem -8rem;
  }
}

@media only screen and (min-width: 100em) {
  .about__image-box {
    position: static;
    overflow: visible;
    background-size: cover;
    background-position: -1rem -20rem;
    text-align: center;
  }
}

.about__mockup {
  width: 100%;
  margin-top: -20rem;
}

@media only screen and (min-width: 48em) {
  .about__mockup {
    width: 75%;
    margin-top: -25rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .about__mockup {
    width: 55%;
    margin-top: -4rem;
    margin-left: 57rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .about__mockup {
    width: 55%;
    margin-top: -13rem;
    margin-left: 69.5rem;
  }
}

@media only screen and (min-width: 100em) {
  .about__mockup {
    width: 70%;
    margin-top: -15rem;
    margin-left: 0rem;
  }
}

.about__information-box {
  width: 30rem;
  margin: 0 auto;
  z-index: 1;
  padding: 6rem 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 28.125em) {
  .about__information-box {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .about__information-box {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) {
  .about__information-box {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .about__information-box {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .about__information-box {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media only screen and (min-width: 28.125em) {
  .about__information-box {
    width: 40rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .about__information-box {
    width: 50rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .about__information-box {
    grid-row: 1 / -1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 60rem;
    margin: 0;
  }
}

@media only screen and (min-width: 87.5em) {
  .about__information-box {
    padding-right: 3rem;
  }
}

.articles {
  display: -ms-grid;
  display: grid;
  row-gap: 2.8rem;
}

@media only screen and (min-width: 48em) {
  .articles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .articles {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
}

.article-box {
  background-color: #ffffff;
  border-radius: 0.7rem;
}

.article-box__image {
  height: 20rem;
  width: 100%;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.article-box__preview {
  text-align: left;
  padding: 2rem 1.3rem 3.5rem;
}

.article-box__link {
  display: inline-block;
}

.btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border-radius: 50rem;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

@media only screen and (min-width: 68.75em) {
  .btn {
    display: inline-block;
  }
}

.btn--gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.btn:focus, .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#56c6e2));
  background-image: linear-gradient(to right, #5bdc7d, #56c6e2);
}

.btn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.features {
  display: -ms-grid;
  display: grid;
  row-gap: 2.8rem;
}

@media only screen and (min-width: 48em) {
  .features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .features {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
}

@media only screen and (min-width: 48em) {
  .intro-box {
    width: 40rem;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .intro-box {
    width: 55rem;
    margin: 0;
  }
}

.footer {
  background-color: #2d314d;
  padding: 6rem 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 28.125em) {
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) {
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .footer {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .footer {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.footer-bar {
  text-align: center;
}

@media only screen and (min-width: 68.75em) {
  .footer-bar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18rem (minmax(10rem, 1fr))[2];
        grid-template-columns: 18rem repeat(2, minmax(10rem, 1fr));
  }
}

@media only screen and (min-width: 87.5em) {
  .footer-bar {
    -ms-grid-columns: 25rem (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: 25rem repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media only screen and (min-width: 68.75em) {
  .footer-column--1 {
    text-align: left;
  }
}

@media only screen and (min-width: 68.75em) {
  .footer-column--2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }
}

@media only screen and (min-width: 68.75em) {
  .footer-column--3 {
    text-align: right;
  }
}

.footer-nav {
  padding: 0.3rem;
}

@media only screen and (min-width: 68.75em) {
  .footer-nav {
    padding: 0;
  }
}

.footer-nav--1, .footer-nav--2 {
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 68.75em) {
  .footer-nav--1, .footer-nav--2 {
    text-align: left;
  }
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__copyright {
  padding: 1.5rem 0;
}

.social-icon {
  padding: 1.2rem 0.5rem;
}

.social-icon__item {
  display: inline;
  padding: 1rem 0.5rem;
}

.social-icon__link {
  outline: none;
}

.social-icon__link:focus #icon,
.social-icon__link:hover #icon {
  cursor: pointer;
  fill: #31d35c;
}

.header {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding: 3rem 5rem 2rem;
}

@media only screen and (min-width: 48em) {
  .header {
    padding: 6rem 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 48em) and (min-width: 28.125em) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 48em) and (min-width: 37.5em) {
  .header {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) and (min-width: 48em) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 48em) and (min-width: 68.75em) {
  .header {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) and (min-width: 87.5em) {
  .header {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__btn {
  height: 1.5rem;
  width: 2.5rem;
  border: none;
  outline: none;
  background: url(../img/icon-hamburger.svg) no-repeat;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.navigation__btn--open {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: url(../img/icon-close.svg) no-repeat;
}

@media only screen and (min-width: 68.75em) {
  .navigation__btn {
    display: none;
  }
}

.navigation__nav--open {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100vw - 5rem);
  border-radius: 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 12rem 5rem 12rem rgba(45, 49, 77, 0.25);
          box-shadow: 0 12rem 5rem 12rem rgba(45, 49, 77, 0.25);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: moveInTop 1.6s ease-out;
          animation: moveInTop 1.6s ease-out;
}

@media only screen and (min-width: 68.75em) {
  .navigation__nav {
    display: inline-block;
  }
}

.navigation__list {
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 3rem;
  border-bottom: 0.5rem solid transparent;
}

.navigation__item:focus, .navigation__item:hover, .navigation__item:active {
  border-image-source: linear-gradient(to right, #31d35c, #2bb7da);
  border-image-slice: 1;
}

@media only screen and (min-width: 68.75em) {
  .navigation__item {
    display: inline;
    padding-bottom: 2.7rem;
  }
}

.main {
  text-align: center;
}

@media only screen and (min-width: 68.75em) {
  .main {
    text-align: left;
  }
}

.section-features {
  background-color: #f3f4f6;
  z-index: -1;
  padding: 6rem 3rem;
}

@media only screen and (min-width: 28.125em) {
  .section-features {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .section-features {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) {
  .section-features {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .section-features {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .section-features {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.section-articles {
  background-color: #fafafa;
  padding: 6rem 3rem;
}

@media only screen and (min-width: 28.125em) {
  .section-articles {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .section-articles {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 48em) {
  .section-articles {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .section-articles {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .section-articles {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
