@-webkit-keyframes moveInTop {
  0% {
    top: -50%;
    left: 50%;
  }
  100% {
    top: 30%;
    left: 50%;
  }
}

@keyframes moveInTop {
  0% {
    top: -50%;
    left: 50%;
  }
  100% {
    top: 30%;
    left: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  font-family: 'Public Sans', sans-serif;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 400;
  color: #2d314d;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
  color: #2d314d;
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 400;
  color: #2d314d;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9698a6;
  line-height: 1.5;
}

.paragraph-author {
  font-size: 1.1rem;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 2.2rem;
  font-weight: 400;
  color: #2d314d;
  text-decoration: none;
}

.btn--gradient {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 0.05rem;
}

.article-box__link:link, .article-box__link:visited {
  font-size: 2.2rem;
  color: #2d314d;
  text-decoration: none;
}

.article-box__link:focus, .article-box__link:hover, .article-box__link:active {
  color: #31d35c;
}

.footer__copyright {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9698a6;
}

.footer__link:link, .footer__link:visited {
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: #31d35c;
}

.attribution {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9698a6;
}

.attribution__link:link, .attribution__link:visited {
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
}

.attribution__link:focus, .attribution__link:hover, .attribution__link:active {
  color: #31d35c;
}

.u-hidden {
  display: none;
}

.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mb-sm {
  margin-bottom: 1.8rem;
}

.u-mb-md {
  margin-bottom: 2.3rem;
}

.u-mb-lg {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 75em) {
  .articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
  }
}

.article-box {
  background-color: #ffffff;
  border-radius: 0.7rem;
}

.article-box__image {
  height: 20rem;
  width: 100%;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.article-box__preview {
  text-align: left;
  padding: 2rem 1.3rem 3.5rem;
}

.article-box__link {
  display: inline-block;
}

.btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border-radius: 50rem;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn--gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
}

.btn:focus, .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#5bdc7d), to(#56c6e2));
  background-image: linear-gradient(to right, #5bdc7d, #56c6e2);
}

.btn:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  text-align: left;
}

.footer {
  padding: 4.5rem 1rem;
  background-color: #2d314d;
  text-align: center;
}

@media only screen and (min-width: 75em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30rem (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: 30rem repeat(auto-fit, minmax(20rem, 1fr));
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media only screen and (min-width: 75em) {
  .footer-column--1 {
    text-align: left;
  }
}

@media only screen and (min-width: 75em) {
  .footer-column--2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}

@media only screen and (min-width: 75em) {
  .footer-column--3 {
    text-align: right;
  }
}

.footer-nav {
  padding: 0.3rem;
}

.footer-nav--1, .footer-nav--2 {
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 75em) {
  .footer-nav--1, .footer-nav--2 {
    text-align: left;
  }
}

.footer-nav__item {
  margin: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__copyright {
  padding: 1.5rem 0;
}

.social-icon {
  padding: 1.2rem 0.5rem;
}

.social-icon__item {
  display: inline;
  padding: 1rem 0.5rem;
}

.social-icon__link {
  outline: none;
}

.social-icon__link:focus #icon,
.social-icon__link:hover #icon {
  cursor: pointer;
  fill: #31d35c;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 2.5rem 3.5rem;
  z-index: 1;
  background-color: #fafafa;
}

@media only screen and (min-width: 37.5em) {
  .header {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.navigation {
  position: relative;
}

.navigation__btn {
  border: none;
  background-color: none;
  background-color: transparent;
}

.navigation__nav {
  position: fixed;
  top: 28%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100vw - 5rem);
  border-radius: 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 12rem 5rem 12rem rgba(45, 49, 77, 0.25);
          box-shadow: 0 12rem 5rem 12rem rgba(45, 49, 77, 0.25);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.navigation__nav--animated-in {
  -webkit-animation: moveInTop 1.6s ease-out;
          animation: moveInTop 1.6s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.navigation__list {
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 3rem;
}

.section-about {
  text-align: center;
}

@media only screen and (min-width: 61.875em) {
  .section-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50rem;
        grid-template-rows: 50rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: left;
  }
}

@media only screen and (min-width: 61.875em) {
  .section-about__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    -o-object-fit: none;
       object-fit: none;
    width: 60rem;
    overflow: hidden;
    background-image: url(../img/bg-intro-desktop.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.section-about__information {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 40rem;
}

.section-features {
  position: relative;
  z-index: -3;
  text-align: center;
  padding: 5rem 3rem;
  background-color: #f3f4f6;
}

@media only screen and (min-width: 61.875em) {
  .section-features {
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: left;
  }
}

.section-articles {
  text-align: center;
  padding: 5rem 3rem;
  background-color: #fafafa;
}

@media only screen and (min-width: 61.875em) {
  .section-articles {
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: left;
  }
}
