<nav>
  <button
    class="attribution-btn"
    [ngClass]="{'show': showAttribution}"
    (click)="onToggleDetails()"
    aria-label="Challenge author and developer information"></button>

  <section
    class="attribution-information"
    *ngIf="showAttribution">

    <h2>
      <span>Challenge by
        <a class="attribution-link" href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener">Frontend Mentor</a>.
      </span>
      <span>Coded by
        <a class="attribution-link" href="https://github.com/wiksmf/frontend-mentor-challenges/tree/master/maker-pre-launch-landing-page" rel="noopener">WIKS</a>.
      </span>
    </h2>
  </section>

  <div class="overlay hidden"
    *ngIf="showAttribution"
    (click)="onHideDetails()"></div>
</nav>
