* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (min-width: $bp-lg) {
    font-size: 93.75%; // 1rem = 12px
  }
}

body {
  height: 100vh;
  background: url(../img/bg-mobile.svg) $color-primary;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding: 5rem 2rem;
  max-width: 37rem;
  margin: 0 auto;

  @include flexCenter;

  @media only screen and (min-width: $bp-lg) {
    max-width: 90rem;
    background: url(../img/bg-desktop.svg) $color-primary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flexCenter($justify: space-between);
  }
}
