body {
  font-family: $font-primary;
  color: $color-tertiary;
  text-align: center;
}

.heading-primary {
  font-family: $font-secondary;
  font-size: $font-size-large;
  line-height: 2;

  @media only screen and (min-width: $bp-lg) {
    padding-right: 10rem;
  }
}

.paragraph {
  font-size: $font-size-medium;
  line-height: 1.8;
}

.btn {
  &-register {
    color: $color-primary;
  }
}

.footer {
  font-size: $font-size-small;
  letter-spacing: 0.1rem;

  &__link {
    &:link,
    &:visited {
      color: $color-secondary;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: darken($color-secondary, 40%);
    }
  }
}
