.btn {
  &-register {
    margin: 3rem auto 7rem;
    padding: 1.2rem 8rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 0 0.2rem 0.7rem 0.6rem rgba(darken($color-primary, 20%), 0.5);
    cursor: pointer;
    outline: none;
    transition: all 0.1s;

    &:hover,
    &:focus {
      color: $color-tertiary;
      background-color: $color-secondary;
      animation: pulsate 1s infinite;
    }
  }
}
