/* CUSTOM PROPERTIES */
:root {
  --bg-dark: rgb(42, 178, 175);
  --bg-mid: rgb(74 190 189);
  --bg-light: rgb(192, 223, 52);
  --bg-white: rgb(255, 255, 255);
  --text-light: rgb(229, 239, 245);
  --text-neutral: rgb(152, 166, 189);
  --box-shadow: rgba(10, 10, 126, 0.1);
}
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
/* STYLES */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 0.5rem;
  background-color: var(--text-light);
  font-family: 'Karla', sans-serif;
  margin: 3rem 2.8rem;
}
.card {
  max-width: 425px;
  border-radius: 0.6rem;
  box-shadow: 0 1.5rem 3rem 0.5rem var(--box-shadow);
  animation: zoomIn 2s;
}
.section-1 {
  padding: 2.7rem 2.3rem 2.9rem;
  background-color: var(--bg-white);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  animation: zoomIn 2s;
}
.section-2 {
  padding: 2.5rem 2.3rem;
  background-color: var(--bg-dark);
  animation: zoomIn 2s;
}
.section-3 {
  padding: 2.5rem 2.3rem;
  background-color: var(--bg-mid);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  animation: zoomIn 2s;
}
.heading-primary {
  font-size: 2rem;
  color: var(--bg-dark);
}
.heading-secondary {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bg-white);
}
.heading-secondary--green {
  margin: 2.5rem 0 1.8rem;
  line-height: 1.3;
  color: var(--bg-light);
}
.paragraph {
  font-size: 1.4rem;
  line-height: 1.9;
  letter-spacing: -0.01rem;
  color: var(--text-neutral);
}
.paragraph--white {
  color: var(--text-light);
  letter-spacing: 0.07rem;
}
.subscription-info {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0.6rem;
}
.subscription-price {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 1.5rem;
  color: var(--bg-white);
}
.subscription-period {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  color: var(--text-light);
}
button.btn {
  margin-top: 2.5rem;
  padding: 1.45rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  color: var(--bg-white);
  box-shadow: 0 0.5rem 1rem 0.1rem var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s linear;
}
.why-us-links {
  margin-top: 1.7rem;
  list-style: none;
}
.why-us-link:link,
.why-us-link:visited {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.07rem;
  color: var(--text-light);
}
button.btn,
.why-us-link:link,
.why-us-link:visited {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--bg-white) 50%
  );
  background-size: 220%;
  transition: all 0.3s linear;
}
button.btn:hover,
.why-us-link:focus,
.why-us-link:hover,
.why-us-link:active {
  background-position: 100%;
  color: var(--bg-dark);
}
/* MEDIA QUERY */
@media screen and (min-width: 1024px) {
  .card {
    min-width: 63.5rem;
    max-width: 63.5rem;
    animation: zoomOut 2s;
  }
  .section-1 {
    padding: 4rem;
    animation: fadeTop 2s;
  }
  .section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-2 {
    padding: 4rem;
    border-bottom-left-radius: 0.6rem;
    animation: fadeBottomLeft 2s;
  }
  .section-3 {
    padding: 4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.6rem;
    animation: fadeBottomRight 2s;
  }
  .heading-primary {
    font-size: 2.3rem;
  }
  h2.heading-secondary--green {
    margin: 2.5rem 0 0.6rem;
    font-size: 1.8rem;
  }
  .paragraph {
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: -0.015rem;
  }
  .section-1 .paragraph span {
    display: block;
  }
  .paragraph--white {
    letter-spacing: -0.01rem;
  }
}
/* ANIMATIONS */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeBottomLeft {
  0% {
    opacity: 0;
    transform: translate(-1rem, 1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeBottomRight {
  0% {
    opacity: 0;
    transform: translate(1rem, 1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
