/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
/* STYLES */
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  padding: 3.6rem 2.5rem;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 235px;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  z-index: -1;
}
main {
  display: flex;
  flex-direction: column;
  row-gap: 4.6rem;
  width: 100%;
  z-index: 0;
}
.header {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  width: 36.6rem;
  margin: 0 auto 4rem;
}
.heading-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  padding-bottom: 2.4rem;
}
.heading-primary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
}
.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  width: 36.6rem;
  margin: 0 auto 4rem;
}
.paragraph {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
}
.theme-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.3rem;
}
.btn-theme-switcher {
  position: relative;
  border: none;
  width: 4.8rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  cursor: pointer;
  outline: none;
}
.btn-theme-switcher.off {
  background-image: none;
}
.btn-theme-switcher.off .dot {
  transform: translateX(2.4rem);
}
.dot {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 1.8rem;
  height: 1.85rem;
  border-radius: 100%;
  transition: all 400ms linear;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.card {
  width: 36.6rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.section-full .cards {
  row-gap: 2.4rem;
  text-align: center;
}
.section-full .cards .card-big {
  position: relative;
  padding: 3.2rem 2rem 2.4rem;
  border-radius: 0.5rem;
}
.section-full .cards .card-big::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.section-full .cards .social-username {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.section-full .cards .social-icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.section-full .cards .social-followers {
  margin: 2.8rem auto 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-full .cards .social-followers .followers {
  display: block;
  margin-bottom: 0.9rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -2px;
}
.section-daily .cards {
  row-gap: 1.6rem;
  margin-top: 2.6rem;
  margin-bottom: 3.6rem;
}
.section-daily .cards .card-small {
  padding: 2.6rem 3.1rem 1.9rem 2.4rem;
  border-radius: 0.5rem;
}
.section-daily .cards .card-small .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-daily .cards .card-small .card-header .card-info {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
}
.section-daily .cards .card-small .card-header .social-icon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}
.section-daily .cards .card-small .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.3rem;
}
.section-daily .cards .card-small .card-body .card-info-number {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.9rem;
}
.section .cards .social-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.section .cards .social-stats .social-stats-icon {
  display: inline-block;
  height: 0.4rem;
  width: 0.8rem;
  margin-right: 0.4rem;
  background-repeat: no-repeat;
}
.section .cards .social-stats.social-stats-icon--increase .social-stats-icon {
  background-image: url(/src/images/icon-up.svg);
}
.section .cards .social-stats.social-stats-icon--decrease .social-stats-icon {
  background-image: url(/src/images/icon-down.svg);
}
.section-full .cards .card-facebook .social-icon,
.section-daily .cards .social-icon--facebook {
  background-image: url(/src/images/icon-facebook.svg);
}
.section-full .cards .card-twitter .social-icon,
.section-daily .cards .social-icon--twitter {
  background-image: url(/src/images/icon-twitter.svg);
}
.section-full .cards .card-instagram .social-icon,
.section-daily .cards .social-icon--instagram {
  background-image: url(/src/images/icon-instagram.svg);
}
.section-full .cards .card-youtube .social-icon,
.section-daily .cards .social-icon--youtube {
  background-image: url(/src/images/icon-youtube.svg);
}
.section-full .cards .card-big:hover,
.section-daily .cards .card-small:hover {
  transform: scale(1.05);
}
/* MEDIA QUERY */
@media only screen and (min-width: 812px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    width: 76.2rem;
  }
  .heading-wrapper {
    row-gap: 0.3rem;
  }
  .heading-secondary {
    width: 76.2rem;
  }
}
@media only screen and (min-width: 1208px) {
  body::before {
    height: 24.4rem;
  }
  main {
    max-width: 110rem;
  }
  .header {
    margin-bottom: 4.6rem;
    width: 100%;
  }
  .heading-primary {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
  .heading-secondary {
    width: 100%;
  }
  .card {
    width: 25rem;
  }
  .section-daily .cards {
    row-gap: 2.4rem;
    margin-top: 2.6rem;
    margin-bottom: 3.6rem;
  }
  .section-daily .cards .card-small {
    padding: 2.7rem 3.1rem 1.9rem 2.4rem;
  }
}
