.container {
  font-family: 'Public Sans', sans-serif;
}

.heading-primary {
  @include textStyle($size: $font-size-xxl);
}

.heading-secondary {
  @include textStyle($size: $font-size-xl);
}

.heading-tertiary {
  @include textStyle($size: $font-size-lg);

}

.paragraph {
  @include textStyle($size: $font-size-sm, $color: $color-secondary-text);
  line-height: 1.5;

  &-author {
    @include textStyle($size: $font-size-xs, $color: $color-secondary-text);
  }
}

.navigation {
  &__link {
    display: inline-block;

    &:link,
    &:visited {
      text-decoration: none;
      @include textStyle($size: $font-size-lg, $color:$color-primary-text);

      @media only screen and(min-width: $bp-lg) {
        @include textStyle($size: $font-size-lg, $color:$color-secondary-text);
      }
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-primary-text;
    }
  }
}

.btn {
  &--gradient {
    @include textStyle($weight: $font-weight-bold, $color: $color-primary-bg);
    letter-spacing: 0.05rem;
  }
}

.article-box {
  &__link {
    @include linkStates ($size: $font-size-md, $color:$color-primary-text);
  }
}

.footer {
  &__copyright {
    @include textStyle($color:$color-secondary-text);
  }

  &__link {
    @include linkStates();
  }
}

.attribution {
  @include textStyle($color:$color-secondary-text);

  &__link {
    @include linkStates();
  }
}