.container {
  font-family: 'Public Sans', sans-serif;
}

.navigation {
  &__link {
    &:link,
    &:visited {
      font-size: $font-size-small;
      color: $color-primary-text;
      text-decoration: none;
    }
  }
}

.btn {
  &--gradient {
    font-weight: $font-weight-bold;
    color: $color-primary-bg;
    letter-spacing: 0.05rem;
  }
}
