.u-hidden {
  display: none;
}

.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-md {
  margin-bottom: 2.3rem;
}

.u-mb-lg {
  margin-bottom: 5rem;
}
