// COLORS
$color-primary: #3a7bfd;
$color-gradient: linear-gradient(#57ddff to #c058f3);

$color-lt-light-gray: #fafafa;
$color-lt-v-light-grayish-blue: #e4e5f1;
$color-lt-grayish-blue: #d2d3db;
$color-lt-dark-grayish-blue: #9394a5;
$color-lt-v-dark-grayish-blue: #484b6a;

$color-dt-v-dark-blue: #161722;
$color-dt-v-dark-des-blue: #25273c;
$color-dt-light-grayish-blue: #cacde8;
$color-dt-light-grayish-blue-hover: #e4e5f1;
$color-dt-dark-grayish-blue: #777a92;
$color-dt-v-dark-grayish-blue: #4d5066;
$color-dt-v-dark-grayish-blue: #393a4c;

// FONTS
$font-size-xs: 0.8rem;
$font-size-sm: 1.1rem;
$font-size-md: 1.4rem;
$font-size-lg: 3rem;

$font-weight-md: 400;
$font-weight-bd: 700;

// RESPONSIVE BREAKPOINTS
$bp-md: 48em; // 768px
$bp-lg: 61.875em; // 990px
