// COLORS
$color-primary: #3a7bfd;
$color-gradient: linear-gradient(to bottom right, #57ddff, #c058f3);

$color-lt-primary-bg: #e4e5f1;
$color-lt-secondary-bg: #fafafa;
$color-lt-border: #e8e8ec;
$color-lt-btn: #40455f;
$color-lt-txt-generic: #9393a5;
$color-lt-txt-active: #484b6a;
$color-lt-txt-completed: #d2d3db;

$color-dt-primary-bg: #161722;
$color-dt-secondary-bg: #25273c;
$color-dt-border: #393a4c;
$color-dt-btn: #777a92;
$color-dt-txt-generic: #cacde8;
$color-dt-txt-active: #e4e5f1;
$color-dt-txt-completed: #4d5066;

// FONTS
$font-size-xs: 1.2rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.5rem;
$font-size-lg: 3.5rem;

$font-weight-md: 400;
$font-weight-bd: 700;

// RESPONSIVE BREAKPOINTS
$bp-sm: 25em; // 400px
$bp-lg: 61.875em; // 990px
