// COLORS
:root[data-theme='theme-light'] {
  --color-primary-bg: #e4e5f1;
  --color-secondary-bg: #fafafa;
  --color-border: #e8e8ec;
  --color-btn: #40455f;
  --color-txt-generic: #9393a5;
  --color-txt-active: #484b6a;
  --color-txt-completed: #d2d3db;

  --bg-small: url('../img/bg-mobile-light.jpg');
  --bg-big: url('../img/bg-desktop-light.jpg');

  --btn-theme: url('../img/icon-moon.svg');
}

:root[data-theme='theme-dark'] {
  --color-primary-bg: #161722;
  --color-secondary-bg: #25273c;
  --color-border: #393a4c;
  --color-btn: #777a92;
  --color-txt-generic: #cacde8;
  --color-txt-active: #e4e5f1;
  --color-txt-completed: #4d5066;

  --bg-small: url('../img/bg-mobile-dark.jpg');
  --bg-big: url('../img/bg-desktop-dark.jpg');

  --btn-theme: url('../img/icon-sun.svg');
}

$color-primary: #3a7bfd;
$color-secondary: #fafafa;
$color-gradient: linear-gradient(to bottom right, #57ddff, #c058f3);

// FONTS
$font-size-xs: 1.2rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.5rem;
$font-size-lg: 3.5rem;

$font-weight-md: 400;
$font-weight-bd: 700;

// RESPONSIVE BREAKPOINTS
$bp-sm: 25em; // 400px
$bp-lg: 61.875em; // 990px
