:root {
  --bg-color-primary: rgb(20, 37, 61);
  --bg-color-secondary: rgb(13, 25, 43);
  --text-primary: rgb(139, 172, 218);
  --text-secondary: rgb(255, 255, 255);
  --text-hover: rgb(0, 255, 247);
  --image-hover: rgba(0, 255, 247, 0.5);
  --line: rgb(47, 65, 91);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.2;
}
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--bg-color-secondary);
  font-family: 'Outfit', sans-serif;
}
.card {
  width: 35rem;
  padding: 2.5rem 1rem 3rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-primary);
  box-shadow: 0 3rem 2rem -1.5rem var(--bg-color-secondary),
    0 1.5rem 1.5rem 3rem var(--bg-color-secondary);
  animation: fadeIn 0.6s linear;
}
.card-header {
  position: relative;
  margin: 0 auto;
  width: 30rem;
  height: 30rem;
  cursor: pointer;
}
.card-header::after {
  content: url(/src/images/icon-view.svg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: var(--image-hover);
  border-radius: 3%;
  opacity: 0;
  transition: all 0.5s ease;
}
.card-header:hover::after {
  opacity: 1;
}
.card-image {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.card-body {
  padding: 0 1.5rem;
}
.card-information {
  margin-bottom: 2.5rem;
}
.heading-primary {
  margin: 2.5rem 0 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-primary);
}
.paragraph {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.4;
  color: var(--text-primary);
}
.card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.paragraph-cryptocurrency,
.paragraph-time {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  background-repeat: no-repeat;
  background-position: left center;
}
.paragraph-cryptocurrency {
  background-image: url(../images/icon-ethereum.svg);
  background-size: contain;
  padding-left: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: var(--text-hover);
}
.paragraph-time {
  background-image: url(../images/icon-clock.svg);
  background-size: 1.7rem;
  padding-left: 2.5rem;
}
.card-footer figure {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2.1rem;
  padding: 1.6rem 0 0;
  border-top: 0.1rem solid var(--line);
}
.profile-image {
  margin-right: 1.5rem;
  width: 3.3rem;
  border: 0.1rem solid var(--text-secondary);
  border-radius: 50%;
}
.card-footer .paragraph {
  font-size: 1.6rem;
}
.card-footer .paragraph .card__link {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}
.card__link {
  color: var(--text-secondary);
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.card__link:link,
.card__link:visited {
  color: var(--text-secondary);
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.card__link:focus,
.card__link:hover,
.card__link:active {
  color: var(--text-hover);
}
/* ATTRIBUTION */
.attribution-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  background-image: url(/src/images/btn-attribution.webp);
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  opacity: 0.5;
  cursor: pointer;
}
.attribution-btn:hover {
  opacity: 1;
  transform: rotate(360deg) scale(1.05);
}
.attribution-btn.show {
  opacity: 1;
  transform: rotate(360deg) scale(1.05);
}
.attribution-information {
  position: fixed;
  bottom: 3rem;
  right: 7rem;
  display: none;
  margin-right: 1rem;
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
  text-align: right;
  line-height: 1.3;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: inset 0px 0px 0.5rem #00000090, 0px 0px 0.5rem #00000090;
  opacity: 0;
  transition: all 0s ease-in;
  z-index: 1;
}
.attribution-information h2 span {
  display: block;
}
.attribution-link:link,
.attribution-link:visited {
  color: #004aff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.4s;
}
.attribution-link:focus,
.attribution-link:hover,
.attribution-link:active {
  color: #e400ff;
  text-decoration: underline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.attribution-btn.show + .attribution-information {
  display: inline-block;
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.overlay.hidden {
  display: none;
}
/* MEDIA QUERY */
@media only screen and (orientation: landscape) and (hover: none) {
  body {
    min-height: 100vw;
    height: 100vw;
  }
}
/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
