<section class="hero">
  <div class="hero-container">
    <picture class="hero-picture">
      <source media="(min-width: 1150px)" srcset="/assets/images/desktop/image-hero@2x.jpg">
      <source media="(min-width: 768px)" srcset="/assets/images/tablet/image-hero@2x.jpg">
      <img src="/assets/images/mobile/image-hero@2x.jpg" alt="">
    </picture>

    <div class="hero-wrapper">
      <h1 class="hero-h1">Modern Art Gallery</h1>

      <div class="hero-location">
        <p class="hero-p">
          The arts in the collection of the Modern Art Gallery all started from a spark of inspiration.
          Will these pieces inspire you? Visit us and find out.
        </p>

        <a class="page-a page-a--right" routerLink="/location">Our location <span class="page-a--arrow page-a--arrow-right"></span></a>
      </div>
    </div>
  </div>
</section>

<section class="gallery-tour">
  <picture class="gallery-tour-picture-1">
    <source media="(min-width: 1150px)" srcset="/assets/images/desktop/image-grid-1@2x.jpg">
    <source media="(min-width: 768px)" srcset="/assets/images/tablet/image-grid-1@2x.jpg">
    <img src="/assets/images/mobile/image-grid-1@2x.jpg" alt="">
  </picture>

  <div class="gallery-tour-wrapper gallery-tour-wrapper--light">
    <h2 class="gallery-tour-h2 gallery-tour-h2--light">Your day at the gallery</h2>
    <p class="gallery-tour-p gallery-tour-p--light">
      Wander through our distinct collections and find new insights about our artists.
      Dive into the details of their creative process.
    </p>
  </div>

  <picture class="gallery-tour-picture-2">
    <source media="(min-width: 1150px)" srcset="/assets/images/desktop/image-grid-2@2x.jpg">
    <source media="(min-width: 768px)" srcset="/assets/images/tablet/image-grid-2@2x.jpg">
    <img src="/assets/images/mobile/image-grid-2@2x.jpg" alt="">
  </picture>

  <picture class="gallery-tour-picture-3">
    <source media="(min-width: 1150px)" srcset="/assets/images/desktop/image-grid-3@2x.jpg">
    <source media="(min-width: 768px)" srcset="/assets/images/tablet/image-grid-3@2x.jpg">
    <img src="/assets/images/mobile/image-grid-1@2x.jpg" alt="">
  </picture>

  <div class="gallery-tour-wrapper gallery-tour-wrapper--dark">
    <h2 class="gallery-tour-h2 gallery-tour-h2--dark">Come &amp; be inspired</h2>
    <p class="gallery-tour-p gallery-tour-p--dark">
      We're excited to welcome you to our gallery and see how our collections influence you.
    </p>
  </div>
</section>
