* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  transition: all 0.5s ease-in;

  //   @media only screen and (min-width: $bp-sm) {
  //     font-size: 75%; // 1rem = 12px
  //   }
}

.container {
  // height: 100vh;
  // width: 100vw;
  background-color: var(--color-primary-bg);
  background-image: var(--bg-small);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100vw 30vh;

  // overflow: hidden;

  @media only screen and (min-width: $bp-sm) {
    background-image: var(--bg-big);
  }
}

.wrapper {
  width: calc(100vw - 5rem);
  margin: 0 auto;

  @include flexCenter($direction: column);

  @media only screen and (min-width: $bp-sm) {
    max-width: 60rem;
  }
}
