.container {
  background-image: url(../img/bg-mobile-light.jpg);
  background-repeat: no-repeat;

  &--dark {
    background-color: blue;
    background-image: url(../img/bg-mobile-dark.jpg);
  }
}

.btn-theme {
  cursor: pointer;
  background-color: pink;
  background-image: url(../img/icon-sun.svg);
  background-repeat: no-repeat;
  height: 2rem;
  width: 2rem;

  &--dark {
    background-color: blue;
    background-image: url(../img/icon-moon.svg);
  }
}

.item-list {
  display: flex;
  align-items: center;
}

.item {
  padding: 1rem 4rem;
  background-color: aquamarine;

  cursor: move;
}

.completed {
  background-color: red;
}
