.container {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  font-size: $font-size-lg;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: $color-lt-grayish-blue;
}
