.container {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  font-size: $font-size-lg;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  color: $color-lt-secondary-bg;
}

.paragraph {
  font-size: $font-size-sm;
  font-weight: $font-weight-bd;
  color: $color-lt-txt-generic;

  &--small {
    font-size: $font-size-xs;
  }
}

.block {
  &__add-todo {
    &__input {
      font-family: inherit;
      font-weight: $font-weight-md;
      font-size: $font-size-md;
      color: $color-lt-txt-active;
      letter-spacing: 0.05rem;

      &::placeholder {
        color: $color-lt-txt-completed;
      }
    }
  }
}

.item {
  font-size: $font-size-md;
  color: $color-lt-btn;
}

.footer {
  font-size: $font-size-xs;
  color: $color-dt-btn;

  &__link {
    &:link,
    &:visited {
      font-weight: $font-weight-bd;
      color: $color-lt-txt-active;
      text-transform: uppercase;
      text-decoration: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}

.container--dark {
  .paragraph {
    color: $color-dt-txt-completed;
  }

  .block {
    &__add-todo {
      &__input {
        color: $color-dt-txt-active;

        &::placeholder {
          color: $color-dt-txt-completed;
        }
      }
    }
  }

  .item {
    color: $color-dt-txt-active;
  }
}
