* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 25em) {
  html {
    font-size: 53.125%;
  }
}

@media only screen and (min-width: 87.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  background-color: #ff7a7a;
  background-image: url(../img/bg-intro-mobile.png);
}

@media only screen and (min-width: 61.875em) {
  body {
    background-image: url(../img/bg-intro-desktop.png);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.heading-primary {
  font-size: 3.5rem;
}

@media only screen and (min-width: 87.5em) {
  .heading-primary {
    font-size: 5rem;
  }
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 400;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.8;
}

.form__input {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
}

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: inherit;
}

.terms-conditions {
  color: #b9b6d3;
  font-size: 1.3rem;
  line-height: 2;
}

.terms-conditions__link:link, .terms-conditions__link:visited {
  color: #ff7a7a;
  text-decoration: none;
}

.terms-conditions__link:focus, .terms-conditions__link:hover, .terms-conditions__link:active {
  color: #6055a5;
}

.footer__link:link, .footer__link:visited {
  font-size: 1.3rem;
  font-weight: 700;
  color: #7a0000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  color: black;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-hidden {
  display: none;
}

.btn {
  width: 100%;
  border: none;
  padding: 1.7rem;
  border-radius: 0.5rem;
  background-color: #38cc8c;
  -webkit-box-shadow: 0 0.5rem #30bb7f;
          box-shadow: 0 0.5rem #30bb7f;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:focus, .btn:hover {
  outline: none;
  background-color: #4cd198;
}

.btn:active {
  outline: none;
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.form {
  padding: 2.2rem;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.8rem rgba(62, 60, 73, 0.3);
          box-shadow: 0 0.8rem rgba(62, 60, 73, 0.3);
}

.form__input {
  width: 100%;
  padding: 1.7rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #b9b6d3;
}

.form__input:focus, .form__input:hover, .form__input:active {
  outline: none;
  border-color: #3e3c49;
}

.footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: fixed;
  bottom: 2rem;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__link:focus, .footer__link:hover, .footer__link:active {
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 25em) {
  .main {
    max-width: 40rem;
  }
}

@media only screen and (min-width: 37.5em) {
  .main {
    max-width: 60rem;
  }
}

@media only screen and (min-width: 61.875em) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .main {
    max-width: 120rem;
  }
}

.section-intro {
  text-align: center;
}

@media only screen and (min-width: 61.875em) {
  .section-intro {
    margin-right: 5rem;
    text-align: left;
  }
}

@media only screen and (min-width: 87.5em) {
  .section-intro {
    margin-right: 8rem;
  }
}

.header__text-box {
  padding: 1.8rem 3.5rem;
  border-radius: 1rem;
  background-color: #6055a5;
  -webkit-box-shadow: 0 0.8rem rgba(62, 60, 73, 0.2);
          box-shadow: 0 0.8rem rgba(62, 60, 73, 0.2);
}
