* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  background-color: #ff7a7a;
  background-image: url(../img/bg-intro-mobile.png);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem;
}
