// COLORS
$color-primary: #48556a;
$color-secondary: #6d7f97;

$color-primary-bg: hsl(210, 46%, 95%);
$color-secondary-bg: #9eafc2;

// FONT
$font-primary: 'Manrope', sans-serif;

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.8rem;

// BREAKPOINTS
$bp-md: 48em; // 768px
$bp-lg: 61.875em; // 990px
