.cards {
  display: grid;
  gap: 2rem;

  @media only screen and (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: $bp-lg) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'a a b b c c'
      'a a b b c c'
      'a a d d c c'
      'a a d d c c';
  }
}

.card {
  height: 16rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border-top: 0.3rem solid;
  box-shadow: 0 0.4rem 1rem 0.05rem lighten($color-primary, 50%);
  text-align: left;

  background-color: $color-tertiary;
  background-repeat: no-repeat;
  background-position: bottom 1.3rem right 1.3rem;

  &-supervisor {
    border-top-color: $color-cyan;
    background-image: url(../img/icon-supervisor.svg);

    @media only screen and (min-width: $bp-lg) {
      grid-area: a;
      align-self: center;
    }
  }

  &-team {
    border-top-color: $color-red;
    background-image: url(../img/icon-team-builder.svg);

    @media only screen and (min-width: $bp-lg) {
      grid-area: b;
      align-self: start;
    }
  }

  &-karma {
    border-top-color: $color-orange;
    background-image: url(../img/icon-karma.svg);

    @media only screen and (min-width: $bp-lg) {
      grid-area: d;
      align-self: end;
    }
  }

  &-calculator {
    border-top-color: $color-blue;
    background-image: url(../img/icon-calculator.svg);

    @media only screen and (min-width: $bp-lg) {
      grid-area: c;
      align-self: center;
    }
  }
}
