.btn {
  font-family: inherit;
  font-weight: $font-weight-bd;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;

  &-clear {
    color: $color-secondary;

    &:focus,
    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &-remove {
    margin-left: 1rem;
    padding: 0.8rem 1rem 0.5rem;
    background-color: $color-primary;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    &:focus,
    &:hover {
      background-color: $color-tertiary;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
