.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.2s;

  &-clear {
    align-self: center;

    font-family: inherit;
    font-weight: $font-weight-bold;
    color: $secondary-color;

    &:focus,
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &-remove {
    align-self: stretch;

    margin-left: 1rem;
    padding: 0.8rem 1rem 0.5rem;
    background-color: $primary-color;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;

    &:focus,
    &:hover {
      background-color: $tertiary-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
