.filter-bar {
  display: grid;
  grid-template-columns: 1fr auto;

  margin-top: -12.5vh;
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
  background-color: lighten($color-bg-secondary, 15%);
  box-shadow: 0 0.5rem 1em 0.1rem rgba($color-primary, 0.3);
  opacity: 0;
  transition: all 0.2s;

  &--visible {
    opacity: 1;
  }
}

.filters {
  list-style: none;

  @include flexCenter($justify: flex-start);

  &__item {
    margin: 0.5rem 1.5rem 0.5rem 0;
    padding-left: 1rem;
    border-radius: 0.4rem;
    background-color: rgba($color-primary, 0.2);

    @include flexCenter;
  }

  &__filter {
    height: 0.95rem;
  }
}
