// COLORS
$color-primary-bg: #ff7a7a;
$color-secondary-bg: #6055a5;

$color-primary-btn: #38cc8c;

$color-primary-text: #fff;
$color-secondary-text: #b9b6d3;

$color-primary-shadow: #3e3c49;

// FONT
$font-primary: 'Poppins', sans-serif;

$font-size-small: 1.3rem;
$font-size-medium: 1.6rem;
$font-size-big: 2.8rem;
